﻿@model ForgetPasswordViewModel

@{
	Layout = "~/Views/shared/LayoutAccount.cshtml";
	ViewBag.Title = "Login";
}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-primary" style="border-radius:6px">
				<div class="panel-heading">
					<a asp-controller="Home" asp-action="Index" style="color:white">Home</a>/
					<a class="active" style="color:white">Login</a>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6 col-md-offset-4">
							<img src="~/images/ukzn_Logo.png" height="100" width="120" class="img-responsive" />
							<h4>CMS Forget Password</h4>
							<p> New users signup <a asp-action="Register">here</a></p>
						</div>

					</div>

				</div>
			</div>
			
			<div class="row">

				<form class="form-horizontal" role="form" method="post" asp-antiforgery="true">
					<div class="form-group">
						<div class="alert alert-warning alert-dismissable" asp-validation-summary="ModelOnly">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							<strong></strong><a href="#" class="alert-link"></a>.
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="emailaddress">Email Address</label>
						<div class="col-sm-8">
							<div class="input-group">
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-user"></span>
								</span><input type="text" name="EmailAddress" class="form-control" placeholder="Enter email address" id="emailAddress" />
							</div>
						</div>
						<div class="col-sm-2">
							<span asp-validation-for="EmailAddress">

							</span>
						</div>
					</div>
					
					
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-primary" id="loginsubmit">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>