﻿@model LoginViewModel
@{ 
    Layout = "~/Views/shared/LayoutAccount.cshtml";
    ViewBag.Title = "Login";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary" style="border-radius:6px">
                <div class="panel-heading">
                    <a asp-controller="Home" asp-action="Index"  style="color:white">Home</a>/
                    <a class="active" style="color:white">Login</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-4">
                            <img src="~/images/ukzn_Logo.png" height="100" width="120" class="img-responsive" />
                            <h4>CMS Login</h4>
                            <p> New users signup <a asp-action="Register">here</a></p>
                        </div>
                       
                    </div>
                    
                </div>
            </div>
            <!--<div class="page-header">
                  <ol class="breadcrumb">
                       <li><a href="{% url 'home'%}">Home</a></li>
                       <li class="active">Login</li>
                    </ol>
                   <img src="{% static 'images/ukznlogo.png'%}" height="160" width="180" class="img-responsive"/>
                  <h4>UCMS Login</h4>
            </div>-->
            <div class="row">
                
                <form class="form-horizontal" role="form" method="post" asp-antiforgery="true">
                    <div class="form-group">
                        <div class="alert alert-warning alert-dismissable" asp-validation-summary="ModelOnly">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <strong></strong><a href="#" class="alert-link"></a>.
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="username">username</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span><input type="text" name="Username" class="form-control" placeholder="Enter username" id="username" />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <span asp-validation-for="Username">
                                
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="password">password</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="fa fa-key"></span>
                                </span><input type="password" name="password" class="form-control" placeholder="Enter password" id="password" />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <span asp-validation-for="password">
                                
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="rememberMe"> Remember me
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-offset-2 col-sm-10">
                            <a asp-action="Forgetpassword">Forgot password</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" id="loginsubmit">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</div>