﻿@model RegisteredViewModel
@{
    Layout = "~/Views/shared/LayoutAccount.cshtml";
    ViewBag.Title = "Registered";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary" style="border-radius:6px">
                <div class="panel-heading">
                    <a asp-controller="Home" asp-action="Index" style="color:white">Home</a>/
                    <a class="active" style="color:white">Registration status</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-4">
                            <img src="~/images/ukzn_Logo.png" height="100" width="120" class="img-responsive" />
                            <h4>CMS Registration status</h4>
                            <p> Your registration was successful. Details has been sent to <a href="malto:@Model.Email">@Model.Email</a></p>
                        </div>

                    </div>
                   
                    
                </div>
            </div>


        </div>
    </div>
 </div>