﻿@model ProgrammeViewModel
@using PagedList.Mvc;

@{
    Layout = "~/Views/Programme/Shared/ProgrammeLayout.cshtml";
    ViewBag.Title = "Programme page";
}

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading"><i class="fa fa-calender" aria-hidden="true"></i>&nbsp;&nbsp;Programme menu</div>
        <div class="panel-body">
            <form class="form-horizontal" method="post" asp-antiforgery="true">
                <fieldset>
                    <legend>Add Programme</legend>
                    <div class="form-group">
                        <div class="alert alert-warning alert-dismissable" asp-validation-summary="ModelOnly">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <strong></strong><a href="#" class="alert-link"></a>.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Title" class="col-lg-2 control-label">Programme Title</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="Title" value="" placeholder="Enter programme title" />
                        </div>
                        <div class="col-lg-2">
                            <span asp-validation-for="Title">

                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Venue" class="col-lg-2 control-label">Multi-Venue programme</label>
                        <div class="col-lg-2">
                            @Html.CheckBoxFor(model => model.IsMultiVenueProgramme,new {@class = "form-control",id="IsMultiVenueProgramme" })
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label for="Venue" class="col-lg-2 control-label" id="venueName">Venue</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="Venue" id="venueValue" value="" placeholder="Enter venue" />
                        </div>
                        <div class="col-lg-2">
                            <span asp-validation-for="Venue">

                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="StartTime" class="col-lg-2 control-label">Start time</label>
                        <div class="col-lg-6">
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" name="StartTime" placeholder="Enter start time" />
                                <span class="input-group-addon">
                                    <span class="fa fa-clock-o"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <span asp-validation-for="StartTime">

                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="EndTime" class="col-lg-2 control-label">End time</label>
                        <div class="col-lg-6">
                            <div class='input-group date' id='datetimepicker2'>
                                <input type='text' class="form-control" name="EndTime" placeholder="Enter end time" />
                                <span class="input-group-addon">
                                    <span class="fa fa-clock-o"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <span asp-validation-for="EndTime">

                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <a type="reset" class="btn btn-default" asp-controller="Conference/ConferenceDay" asp-action="SetDate">Back</a>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </fieldset>
            </form> <br />

            <div class="row">
                @{
                    var AddedProgrammes = ViewData["Programmes"] as PaginatedList<Programme>;
                    if (AddedProgrammes != null)
                    {
                        if (AddedProgrammes.Count != 0)
                        {
                            <table class="table table-striped table-hover">
                                <tr>
                                    <th>Title</th>
                                    <th>Venue</th>
                                    <th>Start time</th>
                                    <th>End time</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
								@if (ViewData["page"] == null)
								{
									ViewData["page"] = 1;
								}
                                @foreach (var item in AddedProgrammes)
                                {
                                    <tr>
                                        <td>@item.Title</td>
                                        <td>@item.Venue</td>
                                        <td>@item.StartTime</td>
                                        <td>@item.EndTime</td>
                                        @if (item.presenters == null)
                                        {
                                            <td><a asp-controller="Conference/AttendeeView" asp-action="Create" 
                                                   asp-route-controllerId="@item.ProgrammeId"
                                                   asp-route-previouscontrollerId="@item.ConferenceDayId"
                                                   asp-route-controllername="Programme" 
                                                   asp-route-actionname="Create" 
                                                   asp-route-pname="presenter"
												   asp-route-prpage="@ViewData["page"]">Add presenter</a></td>
                                        }
                                        else
                                        {
                                            @if (item.presenters.Count == 1)
                                            {
                                                <td><a asp-controller="Conference/AttendeeView" asp-action="Create" 
                                                     asp-route-controllerId="@item.ProgrammeId"
                                                     asp-route-previouscontrollerId="@item.ConferenceDayId"
                                                     asp-route-controllername="Programme" 
                                                     asp-route-actionname="Create" 
                                                     asp-route-pname="presenter"
													 asp-route-prpage="@ViewData["page"]">presenter</a></td>
                                            }
                                            @if (item.presenters.Count > 1)
                                            {
                                                <td><a asp-controller="Conference/AttendeeView" 
                                                       asp-action="Create" asp-route-controllerId="@item.ProgrammeId"
                                                       asp-route-previouscontrollerId="@item.ConferenceDayId"
                                                       asp-route-controllername="Programme" 
                                                       asp-route-action="Create" 
                                                       asp-route-pname="presenter"
													   asp-route-prpage="@ViewData["page"]">presenters</a></td>
                                            }
                                        }
                                        @if (item.chairpersons == null)
                                        {
                                            <td>
                                                <a asp-controller="Conference/AttendeeView" 
                                                   asp-action="Create" 
                                                   asp-route-controllerId="@item.ProgrammeId"
                                                   asp-route-previouscontrollerId="@item.ConferenceDayId"
                                                   asp-route-controllername="Programme" 
                                                   asp-route-actionname="Create" 
                                                   asp-route-pname="chairperson"
												   asp-route-prpage="@ViewData["page"]">Add chairperson</a>
                                            </td>
                                        }
                                        else
                                        {
                                            @if (item.chairpersons.Count == 1)
                                            {
                                                <td>
                                                    <a asp-controller="Conference/AttendeeView" 
                                                       asp-action="Create" asp-route-controllerId="@item.ProgrammeId"
                                                       asp-route-previouscontrollerId="@item.ConferenceDayId"
                                                       asp-route-controllername="Programme" 
                                                       asp-route-actionname="Create" 
                                                       asp-route-pname="chairperson"
													   asp-route-prpage="@ViewData["page"]">chairperson</a>
                                                </td>
                                            }
                                            @if (item.chairpersons.Count > 1)
                                            {
                                                <td>
                                                    <a asp-controller="Conference/AttendeeView" 
                                                       asp-action="Create" 
                                                       asp-route-controllerId="@item.ProgrammeId"
                                                       asp-route-previouscontrollerId="@item.ConferenceDayId"
                                                       asp-route-controllername="Programme" 
                                                       asp-route-actionname="Create" 
                                                       asp-route-pname="chairperson"
													   asp-route-prpage="@ViewData["page"]">chairpersons</a>
                                                </td>
                                            }
                                        }
                                        @if (item.programmeType == UTLO_NewModel.Enums.ProgrammeType.MultiVenue)
                                        {
                                            @if (item.Suite == null)
                                            {
                                                <td><a asp-controller="Conference/Suite" asp-action="Create" asp-route-id="@item.ProgrammeId" asp-route-prpage="@ViewData["page"]">Add Venues</a></td>
                                            }
                                            else
                                            {
                                                @if (item.Suite.Count == 1)
                                                {
                                                    <td><a asp-controller="Conference/Suite" asp-action="Create" asp-route-id="@item.ProgrammeId" asp-route-prpage="@ViewData["page"]">Venue</a></td>
                                                }
                                                @if (item.Suite.Count > 1)
                                                {
                                                    <td><a asp-controller="Conference/Suite" asp-action="Create" asp-route-id="@item.ProgrammeId" asp-route-prpage="@ViewData["page"]">Venues</a></td>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <td>@item.Venue</td>

                                        }
                                        <td>
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            &nbsp;&nbsp;<a asp-controller="Conference/Programme" asp-action="Edit" asp-route-id="@item.ProgrammeId" asp-route-page="@ViewData["page"]">
                                                Edit
                                            </a>
                                        </td>
                                        <td>
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            &nbsp;&nbsp;<a asp-controller="Conference/Programme" asp-route-id="@item.ProgrammeId" asp-action="Delete" asp-route-page="@ViewData["page"]">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </table>
                            <br/>

                                        <br/>
                                        
                                            var prevDisabled = !AddedProgrammes.HasPreviousPage ? "disabled" : "";
                                            var nextDisabled = !AddedProgrammes.HasNextPage ? "disabled" : "";
                                        
                                        <div class="row">
                                            <div class="col-lg-offset-5 col-lg-6">
                                                <a asp-action="Create"
                                                   asp-route-id="@(AddedProgrammes[0].ConferenceDayId)"
                                                   asp-route-page="@(AddedProgrammes.PageIndex - 1)"
                                                   class="btn btn-primary @prevDisabled">
                                                    Previous
                                                </a>
                                                <a asp-action="Create"
                                                   asp-route-id="@(AddedProgrammes[0].ConferenceDayId)"
                                                   asp-route-page="@(AddedProgrammes.PageIndex + 1)"
                                                   class="btn btn-primary @nextDisabled">
                                                    Next
                                                </a>
                                            </div>
                                        </div>

                        }


                    }
                }
                
            </div>
        </div>
    </div>

    <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                    format: 'LT'
                });
            });
            $(function () {
                $('#datetimepicker2').datetimepicker({
                    format: 'LT'
                });
            });
            
    </script>
    <script type="text/javascript">
            $(function () {
                $("#IsMultiVenueProgramme").click(function () {
                    if ($(this).is(':checked')) {
                        $("#venueName").hide();
                        $("#venueValue").hide();
                    }
                    else {
                        $("#venueName").show();
                        $("#venueValue").show();
                    }
                });
            });
    </script>
    
</div>

