﻿@model ProgrammeViewModel

@{
    Layout = "~/Views/ConferenceDay/Shared/ConferenceDayLayout.cshtml";
    ViewBag.Title = "Conference page";
}

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;&nbsp;Conference Day menu</div>
        <div class="panel-body">
            <form class="form-horizontal" method="post" asp-antiforgery="true">
                <fieldset>
                    <legend>Edit Programme</legend>
                    @{
                        var message = ViewData["Message"] as string;
                        if (!string.IsNullOrEmpty(message))
                        {
                            <div class="form-group">
                                <div class="alert alert-warning alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <strong>@message</strong><a href="#" class="alert-link"></a>.
                                </div>
                            </div>

                        }
                    }
                    
                    <div class="form-group">
                        <label for="Title" class="col-lg-2 control-label">Programme Title</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="Title" value="@Model.Title" placeholder="Enter programme title" />
                        </div>
                        <div class="col-lg-2">
                            <span asp-validation-for="Title">

                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Venue" class="col-lg-2 control-label">Multi-Venue programme</label>
                        <div class="col-lg-2">
                            @Html.CheckBoxFor(model => model.IsMultiVenueProgramme, new { @class = "form-control" })
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="Venue" class="col-lg-2 control-label">Venue</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="Venue" value="@Model.Venue" placeholder="Enter venue" />
                        </div>
                        <div class="col-lg-2">
                            <span asp-validation-for="Venue">

                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="StartTime" class="col-lg-2 control-label">Start time</label>
                        <div class="col-lg-6">
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" name="StartTime"  placeholder="Enter start time"
                                       value="@Model.StartTime.TimeOfDay.ToString()"/>
                                <span class="input-group-addon">
                                    <span class="fa fa-clock-o"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <span asp-validation-for="StartTime">

                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="EndTime" class="col-lg-2 control-label">End time</label>
                        <div class="col-lg-6">
                            <div class='input-group date' id='datetimepicker2'>
                                <input type='text' class="form-control" name="EndTime" placeholder="Enter end time" 
                                       value="@Model.EndTime.TimeOfDay.ToString()" />
                                <span class="input-group-addon">
                                    <span class="fa fa-clock-o"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <span asp-validation-for="EndTime">

                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            
                            <a type="reset" class="btn btn-default" asp-controller="Conference/Programme" 
							   asp-action="Create" asp-route-id="@Model.ConferenceId"
							   asp-route-page="@ViewData["page"]">Back</a>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </fieldset>
            </form> <br />


        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                defaultdate: @Model.StartTime.TimeOfDay.ToString(),
                    disabledDates: [
                        moment("12/25/2013"),
                        new Date(2013, 11 - 1, 21),
                        "11/22/2013 00:53"
                    ]
                }
                );
                $('#datetimepicker2').datetimepicker({
                    defaultdate: @Model.EndTime.TimeOfDay.ToString(),
                    disabledDates: [
                        moment("12/25/2013"),
                        new Date(2013, 11 - 1, 21),
                        "11/22/2013 00:53"
                    ]
                }
                );
            });
    </script>
</div>

