﻿@model AnnouncementViewModel
@{
    Layout = "~/Views/Announcement/Shared/AnnouncementLayout.cshtml";
    ViewBag.Title = "Announcement page";
}
<div class="row">
    <form class="form-horizontal" role="form" method="post" asp-antiforgery="true">
		<div class="form-group">
			<div class="alert alert-warning alert-dismissable" asp-validation-summary="ModelOnly">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<strong></strong><a href="#" class="alert-link"></a>.
			</div>
		</div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="Title">Title</label>
            <div class="col-sm-6">
                <input type="text" class
                       ="form-control" id="Title" name="Tile" placeholder="Enter Title">
            </div>
            <div class="col-sm-2">
                <span asp-validation-for="Tile">

                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="StartTime" class="col-lg-2 control-label">DateTime</label>
            <div class="col-lg-6">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" name="DateAndTime" placeholder="Enter DateTime" />
                    <span class="input-group-addon">
                        <span class="fa fa-clock-o"></span>
                    </span>
                </div>
            </div>
            <div class="col-lg-2">
                <span asp-validation-for="DateAndTime">

                </span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form><br />
	@{
		var AddedAnnouncements = ViewData["Announcement"] as PaginatedList<Announcement>;
		if (AddedAnnouncements != null)
		{
			if (AddedAnnouncements.Count != 0)
			{
				<button type="submit" class="btn btn-primary" id="delete" data-toggle="modal" data-target="#myModal">Delete all Announcements</button><br /><br />
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal-label">
							<div class="modal-dialog modal-df" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="myModal-label">Request to delete all Announcements</h4>
									</div>
									<div class="modal-body">										
										<p>Are you sure you want to delete all Announcements</p>

									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										<a class="btn btn-primary" asp-controller="Conference/Announcement" asp-action="DeleteAll">Delete</a>
									</div>
								</div>
							</div>
						</div>
						<br />
			}
		}
	}
	<br/>
    <div class="row">
        @{
            
            if (AddedAnnouncements != null)
            {
                if (AddedAnnouncements.Count != 0)
                {
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Title</th>
                            <th>DateTime</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        @foreach (var item in AddedAnnouncements)
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td>@item.Date</td>
                                <td><a asp-action="Create" asp-controller="Announcement/Topics" asp-route-id="@item.AnnouncementId">View Topics</a></td>
                                <td>
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    &nbsp;&nbsp;<a asp-controller="Announcement/Announcement" asp-action="Edit" asp-route-id="@item.AnnouncementId">
                                        Edit
                                    </a>
                                </td>
                                <td>
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    &nbsp;&nbsp;<a asp-controller="Announcement/Announcement" asp-route-id="@item.AnnouncementId" asp-action="Delete">Delete</a>
                                </td>
                            </tr>
                        }
                    </table>
                    <br />
                    var prevDisabled = !AddedAnnouncements.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !AddedAnnouncements.HasNextPage ? "disabled" : "";

                    <div class="row">
                        <div class="col-lg-offset-5 col-lg-6">
                            <a asp-action="Create"
                               asp-route-page="@(AddedAnnouncements.PageIndex - 1)"
                               class="btn btn-primary @prevDisabled">
                                Previous
                            </a>
                            <a asp-action="Create"
                               asp-route-page="@(AddedAnnouncements.PageIndex + 1)"
                               class="btn btn-primary @nextDisabled">
                                Next
                            </a>
                        </div>
                    </div>
                }


            }

        }
    </div>
    <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
            
    </script>
</div>