﻿@model AnnouncementViewModel
@{
    Layout = "~/Views/Announcement/Shared/AnnouncementLayout.cshtml";
    ViewBag.Title = "Announcement page";
}
<div class="row">
    <form class="form-horizontal" role="form" method="post" asp-antiforgery="true">
		<div class="form-group">
			<div class="alert alert-warning alert-dismissable" asp-validation-summary="ModelOnly">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<strong></strong><a href="#" class="alert-link"></a>.
			</div>
		</div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="Title">Title</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="Title" name="Tile" value="@Model.Tile" placeholder="Enter Title">
            </div>
            <div class="col-sm-2">
                <span asp-validation-for="Tile">

                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="StartTime" class="col-lg-2 control-label">DateTime</label>
            <div class="col-lg-6">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" name="DateAndTime" value="@Model.DateAndTime.ToString()" placeholder="Enter DateTime" />
                    <span class="input-group-addon">
                        <span class="fa fa-clock-o"></span>
                    </span>
                </div>
            </div>
            <div class="col-lg-2">
                <span asp-validation-for="DateAndTime">

                </span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a asp-controller="Announcement/Announcement" asp-action="Create" class="btn btn-default">Back</a>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form><br />
    
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                defaultdate: @Model.DateAndTime.ToString(),
                    disabledDates: [
                        moment("12/25/2013"),
                        new Date(2013, 11 - 1, 21),
                        "11/22/2013 00:53"
                    ]
                }
                );
                
            });
    </script>

</div>