<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:local="http://schemas.android.com/apk/res-auto"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent">
    <include
        android:id="@+id/toolbar"
        layout="@layout/AttendeeToolbar" />
    <LinearLayout
        android:orientation="vertical"
        android:layout_width="fill_parent"
        android:layout_height="fill_parent"
        android:id="@+id/attmain_content2"
        android:layout_below="@id/toolbar"
        android:background="#ffffff">
        <ScrollView xmlns:tools="http://schemas.android.com/tools"
            android:layout_width="fill_parent"
            android:layout_height="fill_parent"
            android:layout_marginBottom="10dp"
            android:fillViewport="true">
            <LinearLayout
                android:orientation="vertical"
                android:layout_width="fill_parent"
                android:layout_height="fill_parent"
                android:id="@+id/attmain_content3"
                android:background="#ffffff">
                <FrameLayout
                    android:id="@+id/mapFrameLayout"
                    android:layout_width="fill_parent"
                    android:layout_height="fill_parent"
                    android:layout_margin="10dp"
                    android:gravity="center_horizontal" />
                <!--<TextView
                    android:text="Loading, please wait . . ."
                    android:textAppearance="?android:attr/textAppearanceSmall"
                    android:id="@+id/tV1"
                    android:layout_height="wrap_content"
                    android:layout_width="wrap_content"
                    android:layout_below="@id/webview"
                    android:textColor="#000000" />
                <ProgressBar
                    android:id="@+id/pB1"
                    style="?android:attr/progressBarStyleHorizontal"
                    android:layout_width="fill_parent"
                    android:layout_height="wrap_content"
                    android:layout_centerVertical="true"
                    android:layout_below="@id/tV1"
                    android:padding="2dip" />-->
            </LinearLayout>
        </ScrollView>
    </LinearLayout>
    <!-- <android.support.v7.widget.Toolbar
        android:id="@+id/toolbar_bottom"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:minHeight="?attr/actionBarSize"
        android:background="?attr/colorAccent"
        android:theme="@style/ThemeOverlay.AppCompat.Dark.ActionBar"
        android:layout_marginTop="1dp"
        android:layout_below="@id/webview"
        local:popupTheme="@style/ThemeOverlay.AppCompat.Light"
        android:layout_alignParentBottom="true" /> -->
</RelativeLayout>