<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:local="http://schemas.android.com/apk/res-auto"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent">
  <include
      android:id="@+id/toolbar"
      layout="@layout/AttendeeToolbar" />

  <LinearLayout
      android:orientation="vertical"
      android:layout_width="fill_parent"
      android:layout_height="fill_parent"
      android:id="@+id/attmain_content2"
      android:layout_below="@id/toolbar"
      android:background="#ffffff">
    <ListView
        android:layout_width="fill_parent"
        android:layout_height="0px"
        android:layout_weight="1"
        android:id="@+id/attListView"
        android:layout_marginTop="20dp"
        android:background="@drawable/shape"
        android:gravity="center" />
    <!-- <android.support.v7.widget.Toolbar
           android:id="@+id/toolbar_bottom"
           android:layout_width="match_parent"
           android:layout_height="wrap_content"
           android:minHeight="?attr/actionBarSize"
           android:background="?attr/colorAccent"
           android:theme="@style/ThemeOverlay.AppCompat.Dark.ActionBar"
           android:layout_marginTop="1dp"
           android:layout_below="@id/attListView"
           local:popupTheme="@style/ThemeOverlay.AppCompat.Light"
           android:layout_alignParentBottom="true" /> -->
  </LinearLayout>


</RelativeLayout>