﻿@model IEnumerable<Attendees>
@{
    Layout = "~/Views/AttendeeView/Shared/AttendeeViewLayout.cshtml";
    ViewBag.Title = ViewData["name"];
}
<div class="row">
    @if (Model.Count() != 0)
    {
        <p>List of @ViewData["name"]</p><br/><br/>
        <table class="table table-striped table-hover">
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Position</th>
                <th>Affiliation</th>
                <th></th>
                <th></th>
            </tr>
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>@item.status</td>
                    <td>@item.Position</td>
                    <td>@item.Affiliation</td>
                    <td>
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;
                        <a asp-action="Edit" asp-controller="Conference/Attendees" 
                           asp-route-controllerId="@ViewData["Id"]"
                           asp-route-Id="@item.AttendeesId" 
                           asp-route-returncontroller="@ViewData["presentController"]"
                           asp-route-controllername="@ViewData["Controller"]" 
                           asp-route-actionname="@ViewData["action"]"
                           asp-route-previouscontrollerId="@ViewData["previouscontrollerId"]"
                           asp-route-pname="@ViewData["name"]"
						   asp-route-prpage="@ViewData["prpage"]">Edit</a>
                    </td>
                    <td>
                        <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;&nbsp;
                        <a asp-action="Delete" asp-controller="Conference/AttendeeView" 
                           asp-route-Id="@item.AttendeesId" 
                           asp-route-controllerId="@ViewData["Id"]"
                           asp-route-returncontroller="@ViewData["presentController"]"
                           asp-route-controllername="@ViewData["Controller"]" 
                           asp-route-actionname="@ViewData["action"]"
                           asp-route-previouscontrollerId="@ViewData["previouscontrollerId"]"
                           asp-route-pname="@ViewData["name"]"
						   asp-route-prpage="@ViewData["prpage"]">Remove</a>
                    </td>
                </tr>

            }
        </table>
        <br/><br/>
        <a asp-action="Create" asp-controller="Conference/@ViewData["controller"]" 
           asp-route-id="@ViewData["previouscontrollerId"]"
		   asp-route-page="@ViewData["prpage"]">Back &nbsp;&nbsp;</a>
        <a asp-action="Create" asp-controller="Conference/Attendees" 
           asp-route-previouscontrollerId ="@ViewData["previouscontrollerId"]"
           asp-route-controllerId="@ViewData["Id"]" 
           asp-route-controllername="@ViewData["Controller"]" 
           asp-route-returncontroller="@ViewData["presentController"]"
           asp-route-pname="@ViewData["name"]" 
           asp-route-actionname="@ViewData["action"]"
		   asp-route-prpage="@ViewData["prpage"]">&nbsp;&nbsp; Add @ViewData["name"]</a>


    }
    else
    {
        <p>No @ViewData["name"] data availiable </p>
        <a asp-action="Create" 
		   asp-controller="Conference/@ViewData["controller"]" 
		   asp-route-id="@ViewData["previouscontrollerId"]"
		   asp-route-page="@ViewData["prpage"]">Back &nbsp;&nbsp;</a>
        <a asp-action="Create" asp-controller="Conference/Attendees" asp-route-previouscontrollerId ="@ViewData["previouscontrollerId"]"
           asp-route-controllerId="@ViewData["Id"]" 
           asp-route-controllername="@ViewData["Controller"]" 
           asp-route-returncontroller="@ViewData["presentController"]"
           asp-route-pname="@ViewData["name"]" 
           asp-route-actionname="@ViewData["action"]"
		   asp-route-prpage="@ViewData["prpage"]">&nbsp;&nbsp; Add @ViewData["name"]</a>

    }
</div>