<?xml version="1.0" encoding="utf-8"?>
<android.support.v7.widget.CardView
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:cardview ="http://schemas.android.com/apk/res-auto"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:layout_marginLeft="10dp"
    android:layout_marginRight="10dp"
    cardview:cardCornerRadius="10dp"
    cardview:cardElevation="5dp">
    <LinearLayout
        android:orientation="vertical"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:id="@+id/attmain_content"
        android:layout_below="@id/toolbar"
        android:background="#ffffff">
        <ScrollView xmlns:tools="http://schemas.android.com/tools"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/contactScrollview"
            android:layout_marginBottom="20dp"
            android:fillViewport="true">
            <RelativeLayout
                android:orientation="vertical"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:id="@+id/attmain_content2"
                android:background="#ffffff">
                <TextView
                    android:text="Text"
                    android:layout_width="420dp"
                    android:layout_height="wrap_content"
                    android:id="@+id/infoTextView"
                    android:layout_marginTop="20dp"
                    android:layout_marginLeft="30dp"
                    android:textColor="#000000"
                    android:textStyle="bold"
                    android:textSize="25sp" />
                <EditText
                    android:layout_height="wrap_content"
                    android:layout_width="400dp"
                    android:id="@+id/messageEditTextView"
                    android:inputType="textMultiLine"
                    android:layout_below="@id/infoTextView"
                    android:layout_marginLeft="30dp"
                    android:textColor="#000000" />
                
            </RelativeLayout>
        </ScrollView>
    </LinearLayout>
</android.support.v7.widget.CardView>