<?xml version="1.0" encoding="utf-8"?>
<android.support.v7.widget.CardView xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:cardview="http://schemas.android.com/apk/res-auto"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:layout_marginLeft="10dp"
    android:layout_marginRight="10dp"
    cardview:cardCornerRadius="10dp"
    cardview:cardElevation="5dp">
    <LinearLayout
        android:orientation="vertical"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:id="@+id/attmain_content"
        android:layout_below="@id/toolbar"
        android:background="#ffffff">
        <ScrollView xmlns:tools="http://schemas.android.com/tools"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/contactScrollview"
            android:layout_marginBottom="20dp"
            android:fillViewport="true">
            <RelativeLayout
                android:orientation="vertical"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:id="@+id/attmain_content2"
                android:background="#ffffff">
                <TextView
                    android:layout_width="450dp"
                    android:layout_height="wrap_content"
                    android:id="@+id/rateDescTextView"
                    android:layout_marginTop="30dp"
                    android:layout_marginLeft="30dp"
                    android:layout_marginRight="30dp"
                    android:textColor="#000000"
                    android:textStyle="bold"
                    android:textSize="25sp" />
                <RadioGroup
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:layout_marginTop="20dp"
                    android:layout_marginLeft="30dp"
                    android:layout_marginRight="30dp"
                    android:layout_below="@id/rateDescTextView"
                    android:id="@+id/rateradioGroup">
                    <RadioButton
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content"
                        android:text="1"
                        android:id="@+id/radioButton1"
                        android:layout_gravity="center_horizontal"
                        android:checked="false"
                        android:textSize="25dp"
                        android:layout_weight="0.13" />
                    <RadioButton
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content"
                        android:text="2"
                        android:id="@+id/radioButton2"
                        android:layout_gravity="center_horizontal"
                        android:checked="false"
                        android:textSize="25dp" />
                    <RadioButton
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content"
                        android:text="3"
                        android:id="@+id/radioButton3"
                        android:layout_gravity="center_horizontal"
                        android:checked="false"
                        android:textSize="25dp" />
                    <RadioButton
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content"
                        android:text="4"
                        android:id="@+id/radioButton4"
                        android:layout_gravity="center_horizontal"
                        android:checked="false"
                        android:textSize="25dp" />
                    <RadioButton
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content"
                        android:text="5"
                        android:id="@+id/radioButton5"
                        android:layout_gravity="center_horizontal"
                        android:checked="false"
                        android:textSize="25dp" />
                </RadioGroup>
            </RelativeLayout>
        </ScrollView>
    </LinearLayout>
</android.support.v7.widget.CardView>