<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:local="http://schemas.android.com/apk/res-auto"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent">
    <include
        android:id="@+id/toolbar"
        layout="@layout/toolbar" />
    <RelativeLayout
        android:orientation="vertical"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:id="@+id/main_content"
        android:layout_below="@id/toolbar"
        android:background="#d3d3d3">
        <ScrollView
            android:id="@+id/confScrollView"
            android:layout_width="fill_parent"
            android:layout_height="fill_parent"
            android:fillViewport="true"
            android:background="#d3d3d3">
            <LinearLayout
                android:orientation="vertical"
                android:layout_width="fill_parent"
                android:layout_height="fill_parent"
                android:id="@+id/main_content2"
                android:background="#d3d3d3">
				 <android.support.v7.widget.CardView
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:layout_marginLeft="10dp"
                    android:layout_marginRight="10dp"
					          android:layout_marginTop="5dp"
                    local:cardCornerRadius="10dp"
                    local:cardElevation="5dp">
                    <ListView
                       android:layout_width="wrap_content"
                       android:layout_height="wrap_content"
                       android:id="@+id/RegListView"
                       android:layout_marginTop="30dp"
                       android:background="@drawable/shape"
                       android:gravity="center" />
				  </android.support.v7.widget.CardView>
				  <android.support.v7.widget.CardView
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:layout_marginLeft="10dp"
                    android:layout_marginRight="10dp"
                    local:cardCornerRadius="10dp"
                    local:cardElevation="5dp">
                       <android.support.v4.view.ViewPager
                        android:id="@+id/RegViewPager"
                        android:layout_width="wrap_content"
                        android:layout_height="220dp"
                        android:layout_marginTop="20dp"
                        android:background="@drawable/shape"
                        android:gravity="center"
                        android:layout_below="@id/RegListView" />
				  </android.support.v7.widget.CardView>
				  <android.support.v7.widget.CardView
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:layout_marginLeft="10dp"
                    android:layout_marginRight="10dp"
                    local:cardCornerRadius="10dp"
                    local:cardElevation="5dp">
					          <TextView
                        android:id="@+id/RegTitleName"
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content"
                        android:layout_alignParentLeft="true"
                        android:text="@string/ConfItems"
                        android:textSize="25sp"
                        android:textStyle="bold"
                        android:layout_marginLeft="5dp"
                        android:textColor="#2196F3" />
                    <GridView
                    android:id="@+id/gridview"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:columnWidth="90dp"
                    android:numColumns="3"
                    android:verticalSpacing="0dp"
                    android:horizontalSpacing="0dp"
                    android:stretchMode="columnWidth"
                    android:gravity="center"
                    android:layout_marginTop="35dp"
                    android:background="@drawable/shape"
                    android:layout_below="@id/RegViewPager"
                    android:layout_marginBottom="20dp" />
				</android.support.v7.widget.CardView>
            </LinearLayout>
        </ScrollView>
    </RelativeLayout>
</RelativeLayout>