<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout 
  xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:local="http://schemas.android.com/apk/res-auto"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent">
  
    <include
        android:id="@+id/toolbar"
        layout="@layout/toolbar" />
  
    <LinearLayout
        android:orientation="vertical"
        android:layout_width="fill_parent"
        android:layout_height="fill_parent"
        android:id="@+id/main_content"
        android:layout_below="@id/toolbar"
        android:background="#ffffff">
        <android.support.design.widget.TabLayout
            android:id="@+id/sliding_tabs"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:background="?attr/colorPrimary"
            android:layout_below="@id/toolbar"
            local:tabMode="fixed"
            local:tabGravity="fill" />
        <android.support.v4.view.ViewPager
            android:id="@+id/tabviewpager"
            android:layout_width="match_parent"
            android:layout_height="0px"
            android:layout_weight="1"
            android:background="@android:color/white"
            />
      <!-- <android.support.v7.widget.Toolbar
      android:id="@+id/toolbar_bottom"
      android:layout_width="match_parent"
      android:layout_height="wrap_content"
      android:minHeight="?attr/actionBarSize"
      android:background="?attr/colorAccent"
      android:theme="@style/ThemeOverlay.AppCompat.Dark.ActionBar"
      local:popupTheme="@style/ThemeOverlay.AppCompat.Light"
      android:layout_marginTop="20dp"
      android:layout_below="@id/tabviewpager"
      android:layout_alignParentBottom="true" /> -->
    </LinearLayout>
    
</RelativeLayout  >