﻿
.single-service {
    background-color: rgba(190, 183, 183, 0.39);
    padding: 25px;
    border-radius: 6px;
    transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
}

    .single-service p {
        text-align: justify;
    }

    .single-service a {
        border-radius: 6px;
    }

    .single-service i {
        text-align: center;
        font-size: 80px;
        background-color: #fff;
        border-radius: 50%;
        display: inline-block;
        height: 150px;
        line-height: 150px;
        width: 150px;
        color: #43484E;
        transition: all 0.9s ease 0s;
        -moz-transition: all 0.9s ease 0s;
        -webkit-transition: all 0.9s ease 0s;
        -o-transition: all 0.9s ease 0s;
    }

.services {
    display: block;
    overflow: hidden;
    margin-top: 15px
}

.single-service:hover {
    background-color: #fc7700;
}

    .single-service:hover i {
        color: #fc7700;
        -moz-transform: scale(1.1) rotate(360deg);
        -webkit-transform: scale(1.1) rotate(360deg);
        -o-transform: scale(1.1) rotate(360deg);
        -ms-transform: scale(1.1) rotate(360deg);
        transform: scale(1.1) rotate(360deg);
    }