<?xml version="1.0" encoding="utf-8"?>
<android.support.v7.widget.CardView xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:cardview="http://schemas.android.com/apk/res-auto"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:layout_marginLeft="5dp"
    android:layout_marginRight="5dp"
    android:layout_marginTop="5dp"
    cardview:cardCornerRadius="5dp"
    cardview:cardElevation="10dp">
    <LinearLayout
        android:orientation="horizontal"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:minWidth="25px"
        android:id="@+id/attContainer"
        android:minHeight="25px">
        <TextView
            android:id="@+id/AttNametextView"
            android:layout_width="250dp"
            android:layout_height="wrap_content"
            android:textSize="18sp"
            android:layout_marginLeft="20dp"
            android:layout_marginTop="10dp"
            android:textColor="#000000" />
        <ImageView
            android:layout_width="25dp"
            android:layout_height="25dp"
            android:id="@+id/arrowimageView"
            android:layout_marginTop="10dp"
            android:layout_marginRight="10dp" />
    </LinearLayout>
</android.support.v7.widget.CardView>