﻿@model TopicViewModel
@{
    Layout = "~/Views/Topics/Shared/TopicLayout.cshtml";
    ViewBag.Title = "Topic page";
}
<div class="row">
    <form class="form-horizontal" role="form" method="post" asp-antiforgery="true">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="Title">Title</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="Bulletpoint" name="Bulletpoint" placeholder="Enter Bulletpoint">
            </div>
            <div class="col-sm-2">
                <span asp-validation-for="Bulletpoint">

                </span>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form><br />
    <div class="row">
        @{
            var AddedTopics = ViewData["Topics"] as PaginatedList<Topic>;
            if (AddedTopics != null)
            {
                if (AddedTopics.Count != 0)
                {
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Bulletpoint</th>
                            
                            <th></th>
                            <th></th>
                        </tr>
                        @foreach (var item in AddedTopics)
                        {
                            <tr>
                                <td>@item.Bulletpoint</td>
                                
                                <td>
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    &nbsp;&nbsp;<a asp-controller="Announcement/Topics" asp-action="Edit" asp-route-id="@item.TopicId">
                                        Edit
                                    </a>
                                </td>
                                <td>
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    &nbsp;&nbsp;<a asp-controller="Announcement/Topics" asp-route-id="@item.TopicId" asp-action="Delete">Delete</a>
                                </td>
                            </tr>
                        }
                    </table>
                    <br />
                    var prevDisabled = !AddedTopics.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !AddedTopics.HasNextPage ? "disabled" : "";

                    <div class="row">
                        <div class="col-lg-offset-5 col-lg-6">
                            <a asp-action="Create"
                               asp-route-page="@(AddedTopics.PageIndex - 1)"
                               class="btn btn-primary @prevDisabled">
                                Previous
                            </a>
                            <a asp-action="Create"
                               asp-route-page="@(AddedTopics.PageIndex + 1)"
                               class="btn btn-primary @nextDisabled">
                                Next
                            </a>
                        </div>
                    </div>
                }


            }

        }
    </div>
    <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                    format: 'LT'
                });
            });
            $(function () {
                $('#datetimepicker2').datetimepicker({
                    format: 'LT'
                });
            });
    </script>
</div>