﻿@model TopicViewModel
@{
    Layout = "~/Views/Topics/Shared/TopicLayout.cshtml";
    ViewBag.Title = "Topic page";
}
<div class="row">
    <form class="form-horizontal" role="form" method="post" asp-antiforgery="true">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="Title">Title</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="Bulletpoint" name="Bulletpoint" value="@Model.Bulletpoint" placeholder="Enter Bulletpoint">
            </div>
            <div class="col-sm-2">
                <span asp-validation-for="Bulletpoint">

                </span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a asp-controller="Announcement/Topics" asp-action="Create" asp-route-id="@ViewData["Id"]">Back</a>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form><br />
    
    
</div>