<?xml version="1.0" encoding="utf-8"?>
<android.support.v7.widget.CardView
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:cardview="http://schemas.android.com/apk/res-auto"
  android:layout_width="match_parent"
  android:layout_height="wrap_content"
  android:layout_marginLeft="15dp"
  android:layout_marginRight="15dp"
  cardview:cardCornerRadius="15dp"
  cardview:cardElevation="5dp">
<LinearLayout 
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
	      <TextView
              android:text="Text"
              android:layout_width="wrap_content"
              android:layout_height="wrap_content"
              android:id="@+id/abstractTitleTextView"
              android:layout_marginTop="50dp"
              android:layout_marginLeft="50dp"
              android:layout_marginRight="50dp"
              android:textColor="#000000"
              android:textStyle="bold"
              android:textSize="35sp" />
          <TextView
              android:text="Text"
              android:layout_width="wrap_content"
              android:layout_height="wrap_content"
              android:id="@+id/abstractThemeTextView"
              android:layout_marginTop="40dp"
              android:layout_marginLeft="50dp"
              android:layout_marginRight="50dp"
              android:textColor="#000000"
              android:layout_below="@id/abstractTitleTextView"
              android:textSize="35sp" />

</LinearLayout>
</android.support.v7.widget.CardView>
