﻿@model IEnumerable<SettingsViewModel>
@{
	Layout = "~/Views/Settings/Shared/SettingsLayout.cshtml";
	ViewBag.Title = "Settings page";
}
<div class="row">
	<div class="panel panel-primary">
		<div class="panel-heading">Conference Settings</div>
		<div class="panel-body">
			        
					@foreach (var setting in Model)
					{

						if (setting.SettingName != CustomSettings.Latitude.ToString() &&
						  setting.SettingName != CustomSettings.Longitude.ToString())
						{
							<div class="panel panel-primary">
								<div class="panel-heading">@setting.SettingName</div>
								<div class="panel-body">
									<form role="form" method="post" asp-antiforgery="true" id="formId">
										<div class="form-group">
											@*<label class="control-label" for="settingsName">@setting.Key</label>*@
											<input type="text" class="form-control" id="settingsName" name="SettingName" value="@setting.SettingName" readonly="readonly"><br />
											@if (setting.SettingName != CustomSettings.CachingTime.ToString())
											{
												<input type="text" class="form-control" id="settingsValue" name="SettingValue" value="@setting.SettingValue">
											}
											else
											{
												<select class="form-control" id="select" name="SettingValue">
													<option value="10">10 minutes</option>
													<option value="20">20 minutes</option>
													<option value="30">30 minutes</option>
													<option value="40">40 minutes</option>
													<option value="50">50 minutes</option>
													<option value="60">60 minutes</option>
													<option value="120">120 minutes</option>
													<option value="180">180 minutes</option>
													<option value="300">300 minutes</option>
													<option value="600">600 minutes</option>
												</select>
											}
										</div>
										@if (setting.SettingValue == null)
										{
											<button type="submit" class="btn btn-default">Save</button>
										}
										else
										{
											<button type="submit" class="btn btn-primary">Save Changes</button>
										}

									</form>
							    </div>
								<div>
									
			</div>
		</div>
						}
					}
	</div>
</div>
</div>
