﻿@model EvaluationQuestionViewModel
@{
    Layout = "~/Views/EvaluationQuestion/Shared/QuestionLayout.cshtml";
    ViewBag.Title = "Evaluation Question page";
}
<div class="row">
    <form class="form-horizontal" role="form" method="post" asp-antiforgery="true">
		<div class="form-group">
			<div class="alert alert-warning alert-dismissable" asp-validation-summary="ModelOnly">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<strong></strong><a href="#" class="alert-link"></a>.
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="Question">Question</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="Question" name="Question" placeholder="Enter Question">
			</div>
			<div class="col-lg-2">
				<span asp-validation-for="Question">

				</span>
			</div>
		</div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="QuestionType">Question type</label>
            <div class="col-sm-10">
                <select class="form-control" name="type">
                    <option value="2">Filling the gap</option>
                    <option value="1">Rating</option>
                </select>
            </div>
        </div>
		<div class="form-group">
			<label for="Venue" class="col-lg-2 control-label">IsRequired</label>
			<div class="col-lg-2">
				@Html.CheckBoxFor(model => model.IsRequired, new { @class = "form-control", id = "IsRequired" })
			</div>
			<div class="col-lg-2">
				<span asp-validation-for="IsRequired">

				</span>
			</div>
		</div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form><br/>
	@{
		var AddedQuestions = ViewData["EvaluationQuestions"] as PaginatedList<EvaluationQuestions>;
		if (AddedQuestions != null)
		{
			if (AddedQuestions.Count != 0)
			{
				<button type="submit" class="btn btn-primary" id="delete" data-toggle="modal" data-target="#myModal">Delete all Evaluation questions</button><br /><br />
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal-label">
							<div class="modal-dialog modal-df" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="myModal-label">Request to delete all Evaluation questions</h4>
									</div>
									<div class="modal-body">
										<p>Are you sure you want to delete all Evaluation questions?</p>

									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										<a class="btn btn-primary" asp-controller="Conference/EvaluationQuestion" asp-action="DeleteAll">Delete</a>
									</div>
								</div>
							</div>
						</div>
						<br />
			}
		}
	}
	<br/>
    <div class="row">
        @{
            
            if (AddedQuestions != null)
            {
                if (AddedQuestions.Count != 0)
                {
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Question</th>
                            <th>Type</th>
							<th>Required</th>
                            <th></th>
                            <th></th>
                        </tr>
                        @foreach (var item in AddedQuestions)
                        {
                            <tr>
                                <td>@item.Question</td>
                                <td>@item.Qtype</td>
								@if (item.QuestionsRequired)
								{
									<td><img src="~/images/correct.png" class="img-responsive" height="30" width="30" /></td>
								}
								else
								{
									<td><img src="~/images/close_icon.png" class="img-responsive" height="30" width="30" /></td>
								}
                                <td>
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    &nbsp;&nbsp;<a asp-controller="Evaluation/EvaluationQuestion" asp-action="Edit" asp-route-id="@item.EvaluationQuestionsId">
                                        Edit
                                    </a>
                                </td>
                                <td>
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    &nbsp;&nbsp;<a asp-controller="Evaluation/EvaluationQuestion" asp-route-id="@item.EvaluationQuestionsId" asp-action="Delete">Delete</a>
                                </td>
                            </tr>
                        }
                    </table>
                            <br />
                    var prevDisabled = !AddedQuestions.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !AddedQuestions.HasNextPage ? "disabled" : "";

                    <div class="row">
                        <div class="col-lg-offset-5 col-lg-6">
                            <a asp-action="Create"
                               asp-route-page="@(AddedQuestions.PageIndex - 1)"
                               class="btn btn-primary @prevDisabled">
                                Previous
                            </a>
                            <a asp-action="Create"
                               asp-route-page="@(AddedQuestions.PageIndex + 1)"
                               class="btn btn-primary @nextDisabled">
                                Next
                            </a>
                        </div>
                    </div>
                }


            }

        }
    </div>

</div>