﻿@model EvaluationQuestionViewModel
@{
    Layout = "~/Views/EvaluationQuestion/Shared/QuestionLayout.cshtml";
    ViewBag.Title = "Evaluation Question page";
}
<div class="row">
    <form class="form-horizontal" role="form" method="post" asp-antiforgery="true">
		<div class="form-group">
			<div class="alert alert-warning alert-dismissable" asp-validation-summary="ModelOnly">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<strong></strong><a href="#" class="alert-link"></a>.
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="Question">Question</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="Question" name="Question" value="@Model.Question" placeholder="Enter Question">
			</div>
			<div class="col-lg-2">
				<span asp-validation-for="Question">

				</span>
			</div>
		</div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="QuestionType">Question type</label>
            <div class="col-sm-10">
                <select class="form-control" name="type">
                    @if (Model.type == 2)
                    {
                        <option value="2"selected>Filling the gap</option>
                        <option value="1">Rating</option>
                    }
                    else
                    {
                        <option value="2">Filling the gap</option>
                        <option value="1" selected>Rating</option>

                    }

                </select>
            </div>
        </div>
		<div class="form-group">
			<label for="Venue" class="col-lg-2 control-label">IsRequired</label>
			<div class="col-lg-2">
				@Html.CheckBoxFor(model => model.IsRequired, new { @class = "form-control", id = "IsRequired" })
			</div>
			<div class="col-lg-2">
				<span asp-validation-for="IsRequired">

				</span>
			</div>
		</div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a class="btn btn-default" asp-action="Create" asp-controller="Evaluation/EvaluationQuestion">Back</a>&nbsp;&nbsp;
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form><br />
    <div class="row">
        
    </div>

</div>