﻿@{
    ViewBag.Title = "Home";
}
<br/><br/>
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-3">
                <img src="~/images/ukzn_Logo.png" height="300" width="300" alt="logo" class="img-responsive" />
            </div>
            <div class="col-md-9">
                <h1>Conference management system</h1>
                <p>A flexible and efficient web app for conference information in University of KwaZulu-Natal</p>
                <p>To get started <a asp-controller="Mainmenu" asp-action="Index" class="btn btn-primary">Click here</a></p>
            </div>
        </div>
        
    </div>
</div>