﻿@model AccommodationViewModel
@{
    Layout = "~/Views/Accommodation/Shared/AccommodationLayout.cshtml";
    ViewBag.Title = "Announcement page";
}
<div class="row">
    <form class="form-horizontal" role="form" method="post" asp-antiforgery="true">
		<div class="form-group">
			<div class="alert alert-warning alert-dismissable" asp-validation-summary="ModelOnly">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<strong></strong><a href="#" class="alert-link"></a>.
			</div>
		</div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="Name">Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="Name" name="Name" placeholder="Enter Name">
            </div>
            <div class="col-sm-2">
                <span asp-validation-for="Name">

                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="Url">Url</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="Url" name="Url" placeholder="Enter Url">
            </div>
            <div class="col-sm-2">
                <span asp-validation-for="Url">

                </span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form><br />
	@{
		var AddedAccommdation = ViewData["Accommodation"] as PaginatedList<Accommodation>;
		if (AddedAccommdation != null)
		{
			if (AddedAccommdation.Count != 0)
			{
				<button type="submit" class="btn btn-primary" id="delete" data-toggle="modal" data-target="#myModal">Delete all Accommodations</button><br /><br />
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal-label">
					<div class="modal-dialog modal-df" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModal-label">Request to delete all Accommodations</h4>
							</div>
							<div class="modal-body">
								<p>Are you sure you want to delete all Accommodations</p>

							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								<a class="btn btn-primary" asp-controller="Conference/Accommodation" asp-action="DeleteAll">Delete</a>
							</div>
						</div>
					</div>
				</div>
			    <br />
			}
		}
	}
	<br/>
    <div class="row">
        @{
            
            if (AddedAccommdation != null)
            {
                if (AddedAccommdation.Count != 0)
                {
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Name</th>
                            <th>Url</th>
                            
                            <th></th>
                            <th></th>
                        </tr>
                        @foreach (var item in AddedAccommdation)
                        {
                            <tr>
                                <td>@item.accommodationName</td>
                                <td>@item.url.ToString()</td>
                                
                                <td>
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    &nbsp;&nbsp;<a asp-controller="Accommodation/Accommodation" asp-action="Edit" asp-route-id="@item.accommodationId">
                                        Edit
                                    </a>
                                </td>
                                <td>
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    &nbsp;&nbsp;<a asp-controller="Accommodation/Accommodation" asp-route-id="@item.accommodationId" asp-action="Delete">Delete</a>
                                </td>
                            </tr>
                        }
                    </table>
                    <br />
                    var prevDisabled = !AddedAccommdation.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !AddedAccommdation.HasNextPage ? "disabled" : "";

                    <div class="row">
                        <div class="col-lg-offset-5 col-lg-6">
                            <a asp-action="Create"
                               asp-route-page="@(AddedAccommdation.PageIndex - 1)"
                               class="btn btn-primary @prevDisabled">
                                Previous
                            </a>
                            <a asp-action="Create"
                               asp-route-page="@(AddedAccommdation.PageIndex + 1)"
                               class="btn btn-primary @nextDisabled">
                                Next
                            </a>
                        </div>
                    </div>
                }


            }

        }
    </div>
    
</div>