﻿@model AccommodationViewModel
@{
    Layout = "~/Views/Accommodation/Shared/AccommodationLayout.cshtml";
    ViewBag.Title = "Announcement page";
}
<div class="row">
    <form class="form-horizontal" role="form" method="post" asp-antiforgery="true">
		<div class="form-group">
			<div class="alert alert-warning alert-dismissable" asp-validation-summary="ModelOnly">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<strong></strong><a href="#" class="alert-link"></a>.
			</div>
		</div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="Name">Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="Name" value="@Model.Name" name="Name" placeholder="Enter Name">
            </div>
            <div class="col-sm-2">
                <span asp-validation-for="Name">

                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="Url">Url</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="Url" name="Url" value="@Model.Url.ToString()" placeholder="Enter Url">
            </div>
            <div class="col-sm-2">
                <span asp-validation-for="Url">

                </span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a asp-action="Create" asp-controller="Accommodation/Accommodation" class="btn btn-default">Back</a>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form><br />
    

</div>