﻿@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <img src="~/images/ukzn_Logo.png" height="80" width="100" class="img-responsive" />
    </div>

</div>
<div class="row">
    <ol class="breadcrumb breadcrumb-danger">
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-controller="Mainmenu" asp-action="Index">Main menu</a></li>
        <li><a asp-controller="Conference/Conference" asp-action="Index">Announcement</a></li>
        <li class="active">Topic</li>
    </ol>
    <h2>Topic</h2><hr />
</div>
<div class="row">
    <div class="col-md-3">
        <div class="panel-group" id="accordion123" role="tablist" aria-multiselectable="true">
            <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="collapse-heading-one">
                    <h4 class="panel-title">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>&nbsp;&nbsp;
                        <a role="button" data-toggle="collapse" data-parent="#accordion123" href="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                            Topic
                        </a>
                    </h4>
                </div>
                <div id="collapse-one" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapse-heading-one">
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;&nbsp;<a asp-controller="Announcement/Topics" asp-action="Create">View</a></li>

                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="col-md-9">
        @RenderBody()
    </div>
</div>