﻿@model PresentationViewModel
@{
	Layout = "~/Views/Presentation/Shared/PresentationLayout.cshtml";
	ViewBag.Title = "Presentation page";
}

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading"><i class="fa fa-pied-piper-pp" aria-hidden="true"></i>&nbsp;&nbsp;Presentation menu</div>
        <div class="panel-body">
            <form class="form-horizontal" method="post" asp-antiforgery="true">
                <fieldset>
                    <legend>Add Presentation</legend>
                    <div class="form-group">
                        <div class="alert alert-warning alert-dismissable" asp-validation-summary="ModelOnly">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <strong></strong><a href="#" class="alert-link"></a>.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Title" class="col-lg-2 control-label">Title</label>
                        <div class="col-lg-6">
                            
							@{
									var AddedAbstracts = ViewData["Abstracts"] as List<Abstracts>;
									if (AddedAbstracts != null)
									{
										if (AddedAbstracts.Count > 0)
										{
											<select class="form-control" id="select" name="Title">
											  @foreach (var presentation in AddedAbstracts)
											  {
												<option value="@presentation.abstractsId">@presentation.Title</option>
											  }
										  </select>  
										}
									    else{
											<input type="text" class="form-control" name="Title" value="" placeholder="Enter Title" />
									    }
									}
									else{
											<input type="text" class="form-control" name="Title" value="" placeholder="Enter Title" />
									}
							}
                        </div>
                        <div class="col-lg-2">
                            <span asp-validation-for="Title">

                            </span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="Type" class="col-lg-2 control-label">Type</label>
                        <div class="col-lg-10">
                            <select class="form-control" id="select" name="presentationType">
                                <option value="1">Oral</option>
                                <option value="2">Poster</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Venue" class="col-lg-2 control-label">Venue</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="Venue" value="" placeholder="Venue" />
                        </div>
                        <div class="col-lg-2">
                            <span asp-validation-for="Venue">

                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            @{
                                var suite = ViewData["Suite"];
                            }
                            <a class="btn btn-default" asp-controller="Conference/Suite" asp-action="Create" asp-route-id="@suite"
							   asp-route-page="@ViewData["page"]">Back</a>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </fieldset>
            </form> <br />

            <div class="row">
                @{
                    var AddedPresentations = ViewData["Presentations"] as PaginatedList<Presentations>;
                    if (AddedPresentations != null)
                    {
                        if (AddedPresentations.Count != 0)
                        {
                            <table class="table table-striped table-hover">
                                <tr>
                                    <th>Title</th>
                                    <th>Type</th>
                                    <th>Venue</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                @foreach (var item in AddedPresentations)
                                {
                                    <tr>
                                        <td>@item.Title</td>
                                        <td>@item.type.ToString()</td>
                                        <td>@item.Venue</td>

                                        @if (item.Authors == null)
                                        {
                                            <td>
                                                <a asp-controller="Conference/AttendeeView" 
                                                   asp-action="Create" 
                                                   asp-route-controllerId="@item.PresentationsId" 
                                                   asp-route-controllername="Presentation"
                                                   asp-route-previouscontrollerId="@item.SuiteId"
                                                   asp-route-actionname="Create" 
                                                   asp-route-pname ="Author"
												   asp-route-prpage="@ViewData["page"]">Add Authors</a>
                                            </td>
                                        }
                                        else
                                        {
                                            @if (item.Authors.Count == 1)
                                            {
                                                <td>
                                                    <a asp-controller="Conference/AttendeeView" 
                                                       asp-action="Create"
                                                       asp-route-controllerId="@item.PresentationsId"
                                                       asp-route-previouscontrollerId="@item.SuiteId"
                                                       asp-route-controllername="Presentation"
                                                       asp-route-actionname="Create" 
                                                       asp-route-pname ="Author"
													   asp-route-prpage="@ViewData["page"]">Author</a>
                                                </td>
                                            }
                                            @if (item.Authors.Count > 1)
                                            {
                                                <td>
                                                    <a asp-controller="Conference/AttendeeView" 
                                                       asp-action="Create" 
                                                       asp-route-previouscontrollerId="@item.SuiteId"
                                                       asp-route-controllerId="@item.PresentationsId" 
                                                       asp-route-controllername="Presentation"
                                                       asp-route-actionname="Create" 
                                                       asp-route-pname ="Author"
													   asp-route-prpage="@ViewData["page"]">Authors</a>
                                                </td>
                                            }
                                        }

                                        @if (item.chairPersons == null)
                                        {
                                            <td>
                                                <a asp-controller="Conference/AttendeeView" 
                                                   asp-action="Create" 
                                                   asp-route-previouscontrollerId="@item.SuiteId"
                                                   asp-route-controllerId="@item.PresentationsId" 
                                                   asp-route-controllername="Presentation"
                                                   asp-route-actionname="Create" 
                                                   asp-route-pname ="chairperson"
												   asp-route-prpage="@ViewData["page"]">Add chairpersons</a>
                                            </td>
                                        }
                                        else
                                        {
                                            @if (item.chairPersons.Count == 1)
                                            {
                                                <td>
                                                    <a asp-controller="Conference/AttendeeView"
                                                       asp-action="Create"
                                                       asp-route-previouscontrollerId="@item.SuiteId"
                                                       asp-route-controllerId="@item.PresentationsId"
                                                       asp-route-controllername="Presentation"
                                                       asp-route-actionname="Create"
                                                       asp-route-pname="chairperson"
													   asp-route-prpage="@ViewData["page"]">chairperson</a>
                                                </td>
                                            }
                                            @if (item.chairPersons.Count > 1)
                                            {
                                                <td>
                                                    <a asp-controller="Conference/AttendeeView"
                                                       asp-action="Create"
                                                       asp-route-previouscontrollerId="@item.SuiteId"
                                                       asp-route-controllerId="@item.PresentationsId"
                                                       asp-route-controllername="Presentation"
                                                       asp-route-actionname="Create"
                                                       asp-route-pname="chairperson"
													   asp-route-prpage="@ViewData["page"]">chairpersons</a>
                                                </td>
                                            }
                                        }

                                        @if (item.Panelists == null)
                                        {
                                            <td>
                                                <a asp-controller="Conference/AttendeeView" 
                                                   asp-action="Create" 
                                                   asp-route-previouscontrollerId="@item.SuiteId"
                                                   asp-route-controllerId="@item.PresentationsId" 
                                                   asp-route-controllername="Presentation"
                                                   asp-route-actionname="Create" 
                                                   asp-route-pname="panelist"
												   asp-route-prpage="@ViewData["page"]">Add panelists</a>
                                            </td>
                                        }
                                        else
                                        {
                                            @if (item.Panelists.Count == 1)
                                            {
                                                <td>
                                                    <a asp-controller="Conference/AttendeeView"
                                                       asp-action="Create"
                                                       asp-route-previouscontrollerId="@item.SuiteId"
                                                       asp-route-controllerId="@item.PresentationsId"
                                                       asp-route-controllername="Presentation"
                                                       asp-route-actionname="Create"
                                                       asp-route-pname="panelist"
													   asp-route-prpage="@ViewData["page"]">panelist</a>
                                                </td>
                                            }
                                            @if (item.Panelists.Count > 1)
                                            {
                                                <td>
                                                    <a asp-controller="Conference/AttendeeView"
                                                       asp-action="Create"
                                                       asp-route-previouscontrollerId="@item.SuiteId"
                                                       asp-route-controllerId="@item.PresentationsId"
                                                       asp-route-controllername="Presentation"
                                                       asp-route-actionname="Create"
                                                       asp-route-pname="panelist"
													   asp-route-prpage="@ViewData["page"]">panelists</a>
                                                </td>
                                            }
                                        }
                                        <td>
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            &nbsp;&nbsp;<a asp-controller="Conference/Presentation" asp-action="Edit" asp-route-id="@item.PresentationsId"
														   asp-route-page="@ViewData["page"]">
                                                Edit
                                            </a>
                                        </td>
                                        <td>
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            &nbsp;&nbsp;<a asp-controller="Conference/Presentation" asp-route-id="@item.PresentationsId" asp-action="Delete"
														   asp-route-page="@ViewData["page"]">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </table>
                            <br />
                            var prevDisabled = !AddedPresentations.HasPreviousPage ? "disabled" : "";
                            var nextDisabled = !AddedPresentations.HasNextPage ? "disabled" : "";

                            <div class="row">
                                <div class="col-lg-offset-5 col-lg-6">
                                    <a asp-action="Create"
                                       asp-route-id="@(AddedPresentations[0].PresentationsId)"
                                       asp-route-page="@(AddedPresentations.PageIndex - 1)"
                                       class="btn btn-primary @prevDisabled">
                                        Previous
                                    </a>
                                    <a asp-action="Create"
                                       asp-route-id="@(AddedPresentations[0].PresentationsId)"
                                       asp-route-page="@(AddedPresentations.PageIndex + 1)"
                                       class="btn btn-primary @nextDisabled">
                                        Next
                                    </a>
                                </div>
                            </div>
                        }


                    }

                }
            </div>
        </div>
    </div>
    <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                    format: 'LT'
                });
            });
            $(function () {
                $('#datetimepicker2').datetimepicker({
                    format: 'LT'
                });
            });
    </script>
</div>



