﻿@model PresentationViewModel
@{
    Layout = "~/Views/Presentation/Shared/PresentationLayout.cshtml";
    ViewBag.Title = "Presentation page";
}

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading"><i class="fa fa-pied-piper-pp" aria-hidden="true"></i>&nbsp;&nbsp;Presentation menu</div>
        <div class="panel-body">
            <form class="form-horizontal" method="post" asp-antiforgery="true">
                <fieldset>
                    <legend>Edit Presentation</legend>
                    @{
                        var message = ViewData["Message"] as string;
                        if (!string.IsNullOrEmpty(message))
                        {
                            <div class="form-group">
                                <div class="alert alert-warning alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <strong>@message</strong><a href="#" class="alert-link"></a>.
                                </div>
                            </div>
                        }
                    }
                    <div class="form-group">
                        <label for="Title" class="col-lg-2 control-label">Title</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="Title" value="@Model.Title" placeholder="Enter presentation title" />
                        </div>
                        <div class="col-lg-2">
                            <span asp-validation-for="Title">

                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Type" class="col-lg-2 control-label">Type</label>
                        <div class="col-lg-10">
                            <select class="form-control" id="select" name="presentationType">
                                @if (Model.presentationType == (int)UTLO_NewModel.Enums.PresentationType.Oral)
                                {
                                   <option value="1" selected="selected">Oral</option>
                                   <option value="2">Poster</option>
                                }
                                else
                                {
                                    <option value="1">Oral</option>
                                    <option value="2" selected="selected">Poster</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Venue" class="col-lg-2 control-label">Venue</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="Venue" value="@Model.Venue" placeholder="Venue" />
                        </div>
                        <div class="col-lg-2">
                            <span asp-validation-for="Venue">

                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            @{
                                var suite = ViewData["Suite"];
                            }
                            <a class="btn btn-default" asp-controller="Conference/Presentation" asp-action="Create" asp-route-id="@suite"
							   asp-route-page="@ViewData["page"]">Back</a>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </fieldset>
            </form> <br />

            
        </div>
    </div>
   
</div>



