﻿@model AbstractViewModel
@{
    Layout = "~/Views/Abstract/Shared/AbstractLayout.cshtml";
    ViewBag.Title = "Abstract page";
}
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading"><i class="fa fa-pied-piper-pp" aria-hidden="true"></i>&nbsp;&nbsp;Presentation menu</div>
        <div class="panel-body">
            <form class="form-horizontal" method="post" asp-antiforgery="true">
                <fieldset>
                    <legend>Add Abstracts</legend>
                    <div class="form-group">
                        <div class="alert alert-warning alert-dismissable" asp-validation-summary="ModelOnly">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <strong></strong><a href="#" class="alert-link"></a>.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Title" class="col-lg-2 control-label">Title</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="Title" value="" placeholder="Enter Title" />
                        </div>
                        <div class="col-lg-2">
                            <span asp-validation-for="Title">

                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Theme" class="col-lg-2 control-label">Theme</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="Theme" value="" placeholder="Enter Theme" />
                        </div>
                        <div class="col-lg-2">
                            <span asp-validation-for="Theme">

                            </span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="Body" class="col-lg-2 control-label">Body</label>
                        <div class="col-lg-6">
                            <textarea name="Body" cols="50" rows="10" class="form-control"></textarea>
                        </div>
                        <div class="col-lg-2">
                            <span asp-validation-for="Body">

                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </fieldset>
            </form> <br />
			@{
				var AddedAbstracts = ViewData["abstracts"] as PaginatedList<Abstracts>;
				if (AddedAbstracts != null)
				{
					if (AddedAbstracts.Count != 0)
					{
						<button type="submit" class="btn btn-primary" id="delete" data-toggle="modal" data-target="#myModal">Delete all abstracts</button><br /><br />
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal-label">
							<div class="modal-dialog modal-df" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="myModal-label">Request to delete all abstracts</h4>
									</div>
									<div class="modal-body">
										<p>Are you sure you want to delete all abstracts?</p>

									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										<a class="btn btn-primary" asp-controller="Conference/Abstract" asp-action="DeleteAll">Delete</a>
									</div>
								</div>
							</div>
						</div>
						<br />
					}
				}
			}
			<br/>
            <div class="row">
                @{
                    
                    if (AddedAbstracts != null)
                    {
                        if (AddedAbstracts.Count != 0)
                        {
                            <table class="table table-striped table-hover">
                                <tr>
                                    <th>Title</th>
                                    <th>Theme</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                @foreach (var item in AddedAbstracts)
                                {
                                    <tr>
                                        <td>@item.Title</td>
                                        <td>@item.Theme</td>
                                        

                                        @if (item.Authors == null)
                                        {
                                            <td>
                                                <a asp-controller="Conference/AttendeeView"
                                                   asp-action="Create"
                                                   asp-route-controllerId="@item.abstractsId"
                                                   asp-route-controllername="Abstract"
                                                   asp-route-previouscontrollerId="@item.abstractsId"
                                                   asp-route-actionname="Create"
                                                   asp-route-pname="Author">Add Authors</a>
                                            </td>
                                        }
										@if (item.Authors.Count == 0)
										{
											<td>
												<a asp-controller="Conference/AttendeeView"
												   asp-action="Create"
												   asp-route-controllerId="@item.abstractsId"
												   asp-route-controllername="Abstract"
												   asp-route-previouscontrollerId="@item.abstractsId"
												   asp-route-actionname="Create"
												   asp-route-pname="Author">Add Authors</a>
											</td>
										}
										else
										{
                                            @if (item.Authors.Count == 1)
                                            {
                                                <td>
                                                    <a asp-controller="Conference/AttendeeView"
                                                       asp-action="Create"
                                                       asp-route-controllerId="@item.abstractsId"
                                                       asp-route-controllername="Abstract"
                                                       asp-route-previouscontrollerId="@item.abstractsId"
                                                       asp-route-actionname="Create"
                                                       asp-route-pname="Author">Author</a>
                                                </td>
                                            }
                                            @if (item.Authors.Count > 1)
                                            {
                                                <td>
                                                    <a asp-controller="Conference/AttendeeView"
                                                       asp-action="Create"
                                                       asp-route-controllerId="@item.abstractsId"
                                                       asp-route-controllername="Abstract"
                                                       asp-route-previouscontrollerId="@item.abstractsId"
                                                       asp-route-actionname="Create"
                                                       asp-route-pname="Author">Authors</a>
                                                </td>
                                            }
                                        }

                                        
                                        <td>
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            &nbsp;&nbsp;<a asp-controller="Conference/Abstract" asp-action="Edit" asp-route-id="@item.abstractsId">
                                                Edit
                                            </a>
                                        </td>
                                        <td>
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            &nbsp;&nbsp;<a asp-controller="Conference/Abstract" asp-route-id="@item.abstractsId" asp-action="Delete">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </table>
                            <br />
                            var prevDisabled = !AddedAbstracts.HasPreviousPage ? "disabled" : "";
                            var nextDisabled = !AddedAbstracts.HasNextPage ? "disabled" : "";

                            <div class="row">
                                <div class="col-lg-offset-5 col-lg-6">
                                    <a asp-action="Create"
                                       asp-route-page="@(AddedAbstracts.PageIndex - 1)"
                                       class="btn btn-primary @prevDisabled">
                                        Previous
                                    </a>
                                    <a asp-action="Create"
                                       asp-route-page="@(AddedAbstracts.PageIndex + 1)"
                                       class="btn btn-primary @nextDisabled">
                                        Next
                                    </a>
                                </div>
                            </div>
                        }


                    }

                }
            </div>
        </div>
    </div>
</div>