﻿@model AbstractViewModel
@{
    Layout = "~/Views/Abstract/Shared/AbstractLayout.cshtml";
    ViewBag.Title = "Abstract page";
}
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading"><i class="fa fa-pied-piper-pp" aria-hidden="true"></i>&nbsp;&nbsp;Presentation menu</div>
        <div class="panel-body">
            <form class="form-horizontal" method="post" asp-antiforgery="true">
                <fieldset>
                    <legend>Add Abstracts</legend>
                    <div class="form-group">
                        <div class="alert alert-warning alert-dismissable" asp-validation-summary="ModelOnly">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <strong></strong><a href="#" class="alert-link"></a>.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Title" class="col-lg-2 control-label">Title</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="Title" value="@Model.Title" placeholder="Enter Title" />
                        </div>
                        <div class="col-lg-2">
                            <span asp-validation-for="Title">

                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Theme" class="col-lg-2 control-label">Theme</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="Theme" value="@Model.Theme" placeholder="Enter Theme" />
                        </div>
                        <div class="col-lg-2">
                            <span asp-validation-for="Theme">

                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Body" class="col-lg-2 control-label">Body</label>
                        <div class="col-lg-6">
                            <textarea name="Body" cols="50" rows="10" class="form-control">@Model.Body</textarea>
                        </div>
                        <div class="col-lg-2">
                            <span asp-validation-for="Body">

                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </fieldset>
            </form> <br />
</div>