﻿@model AbstractViewModel
@{
    Layout = "~/Views/Abstract/Shared/AbstractLayout.cshtml";
    ViewBag.Title = "Abstract page";
}
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading"><i class="fa fa-book" aria-hidden="true"></i>&nbsp;&nbsp;Abstract menu</div>
		<div class="panel-body">
			<div class="form-group">
				<div class="alert alert-warning alert-dismissable" asp-validation-summary="ModelOnly">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					<strong></strong><a href="#" class="alert-link"></a>.
				</div>
			</div>
			@using (Html.BeginForm("Upload", "Conference/Abstract", null,
			FormMethod.Post, true, new
			{
				enctype = "multipart/form-data",
				@class = "form-horizontal",

			}))
			{

			<div class="form-group">
				<label class="col-sm-2 control-label" for="upload">Upload</label>
				<div class="col-sm-8">
					<input type="file" class="form-control" id="upload" name="upload">
				</div>
				<div class="col-sm-2">
					<span asp-validation-for="Title">

					</span>
				</div>
			</div>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">Submit</button>
					</div>
				</div>
			}


		</div>
    </div>
</div>