﻿@model IEnumerable<RatingViewModel>
@{
    Layout = "~/Views/Rate/Shared/RateLayout.cshtml";
    ViewBag.Title = "Rate page";
}
<div class="row">
    <table class="table table-striped table-hover">
        <tr>
            <th>Title</th>
            <th>Authors</th>
            <th>Rating</th>
        </tr>
        
            @foreach (var item in Model)
            {
                <tr>
                    <td style="width:50%">@item.Title</td>
                    <td>
                        @foreach (var authors in item.Presenters)
                        {
                            <p>@authors.Name,</p> <br/>

                        }
                    </td>
                    @switch (item.Rating)
                   {
                    case 1:
                            <td>
                                <img src="~/images/OneRating.png" height="15" width="15" />
                                <img src="~/images/ZeroRating.png" height="15" width="15" />
                                <img src="~/images/ZeroRating.png" height="15" width="15" />
                                <img src="~/images/ZeroRating.png" height="15" width="15" />
                                <img src="~/images/ZeroRating.png" height="15" width="15" />
                            </td>
                            break;
                        case 2:
                            <td>
                                <img src="~/images/OneRating.png" height="15" width="15" />
                                <img src="~/images/OneRating.png" height="15" width="15" />
                                <img src="~/images/ZeroRating.png" height="15" width="15" />
                                <img src="~/images/ZeroRating.png" height="15" width="15" />
                                <img src="~/images/ZeroRating.png" height="15" width="15" />
                            </td>
                            break;
                        case 3:
                            <td>
                                <img src="~/images/OneRating.png" height="15" width="15" />
                                <img src="~/images/OneRating.png" height="15" width="15" />
                                <img src="~/images/OneRating.png" height="15" width="15" />
                                <img src="~/images/ZeroRating.png" height="15" width="15" />
                                <img src="~/images/ZeroRating.png" height="15" width="15" />
                            </td>
                            break;
                        case 4:
                            <td>
                                <img src="~/images/OneRating.png" height="15" width="15" />
                                <img src="~/images/OneRating.png" height="15" width="15" />
                                <img src="~/images/OneRating.png" height="15" width="15" />
                                <img src="~/images/OneRating.png" height="15" width="15" />
                                <img src="~/images/ZeroRating.png" height="15" width="15" />
                            </td>
                            break;
                        case 5:
                            <td>
                                <img src="~/images/OneRating.png" height="15" width="15" />
                                <img src="~/images/OneRating.png" height="15" width="15" />
                                <img src="~/images/OneRating.png" height="15" width="15" />
                                <img src="~/images/OneRating.png" height="15" width="15" />
                                <img src="~/images/OneRating.png" height="15" width="15" />
                            </td>
                            break;

                        default:
                            <td>
                                <img src="~/images/ZeroRating.png" height="15" width="15" />
                                <img src="~/images/ZeroRating.png" height="15" width="15" />
                                <img src="~/images/ZeroRating.png" height="15" width="15" />
                                <img src="~/images/ZeroRating.png" height="15" width="15" />
                                <img src="~/images/ZeroRating.png" height="15" width="15" />
                            </td>
                            break;

                    }
                </tr>
            }
        
    </table>
</div>