﻿
@{
    ViewBag.Title = "MainMenu";
}

<div class="container">
    
        <div class="row">
            <div class="col-md-12">
                <img src="images/ukzn_logo.png" height="80" width="100" class="img-responsive" />
            </div>
            
        </div>
        <div class="row">
            <ol class="breadcrumb breadcrumb-danger">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="active">Main menu</li>
            </ol>
            <h2>CMS Main menu</h2><hr/>
        </div>
        
    
		<div class="services row">
			<div class="col-md-3 col-lg-3">
				<div class="single-service">
					<i class="fa fa-calendar"></i>
					<h2>Conference</h2>
					<span>Including programmes, presentation and Attendees </span>
					<a asp-controller="Conference/Conference" asp-action="Index" class="btn btn-primary">Proceed</a>
				</div>
			</div>
			<div class="col-md-3 col-lg-3">
				<div class="single-service">
					<i class="fa fa-eye"></i>
					<h2>Evaluation</h2>
					<span>Setting conference evalution related data</span><br />
					<a asp-controller="Evaluation/EvaluationQuestion" asp-action="Create" class="btn btn-primary">Proceed</a>
				</div>
			</div>
			<div class="col-md-3 col-lg-3">
				<div class="single-service">
					<i class="fa fa-bullhorn"></i>
					<h2>Announcement</h2>
					<span>Sending conference announcement to attendees</span>
					<a asp-controller="Announcement/Announcement" asp-action="Create" class="btn btn-primary">Proceed</a>
				</div>
			</div>
			<div class="col-md-3 col-lg-3">
				<div class="single-service">
					<i class="fa fa-home"></i>
					<h2>Accommodation</h2>
					<span>Storing accommodation related information for the conference</span>
					<a asp-controller="Accommodation/Accommodation" asp-action="Create" class="btn btn-primary">Proceed</a>
				</div>
			</div>
		</div><br/>
		<div class="services row">
			<div class="col-md-3 col-lg-3">
				<div class="single-service">
					<i class="fa fa-cog"></i>
					<h2>Settings</h2>
					<span>Conference general settings</span>
					<a asp-controller="Conference/Settings" asp-action="Create" class="btn btn-primary">Proceed</a>
				</div>
			</div>
		</div> 
</div>