﻿@{
	Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="row">
	<div class="col-md-12">
		<img src="~/images/ukzn_Logo.png" height="80" width="100" class="img-responsive" />
	</div>

</div>
<div class="row">
	<ol class="breadcrumb breadcrumb-danger">
		<li><a asp-controller="Home" asp-action="Index">Home</a></li>
		<li><a asp-controller="Mainmenu" asp-action="Index">Main menu</a></li>
		<li><a asp-controller="Conference/Conference" asp-action="Index">Conference</a></li>
		<li class="active">Settings</li>
	</ol>
	<h2>Settings</h2><hr />
</div>
<div class="row">
	<div class="col-md-3">
		<div class="panel-group" id="accordion123" role="tablist" aria-multiselectable="true">
			<div class="panel panel-primary">
				<div class="panel-heading" role="tab" id="collapse-heading-one">
					<h4 class="panel-title">
						<i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;&nbsp;
						<a role="button" data-toggle="collapse" data-parent="#accordion123" href="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
							Conference Day
						</a>
					</h4>
				</div>
				<div id="collapse-one" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapse-heading-one">
					<div class="panel-body">
						<ul class="list-group">
							<li class="list-group-item"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;&nbsp;<a asp-controller="Conference/ConferenceDay" asp-action="SetDate">View</a></li>

						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading" role="tab" id="collapse-heading-two">
					<h4 class="panel-title">
						<i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;
						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion123" href="#collapse-two" aria-expanded="false" aria-controls="collapse-two">
							Attendees
						</a>
					</h4>
				</div>
				<div id="collapse-two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-heading-two">
					<div class="panel-body">
						<ul class="list-group">
							<li class="list-group-item"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;&nbsp;<a asp-action="Create" asp-controller="Conference/Attendees">View</a></li>

						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading" role="tab" id="collapse-heading-three">
					<h4 class="panel-title">
						<i class="fa fa-book" aria-hidden="true"></i>&nbsp;&nbsp;
						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion123" href="#collapse-three" aria-expanded="false" aria-controls="collapse-three">
							Abstracts
						</a>
					</h4>
				</div>
				<div id="collapse-three" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-heading-three">
					<div class="panel-body">
						<ul class="list-group">
							<li class="list-group-item"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;&nbsp;<a asp-action="Create" asp-controller="Conference/Abstract">View</a></li>

						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading" role="tab" id="collapse-heading-six">
					<h4 class="panel-title">
						<i class="fa fa-star-half-o" aria-hidden="true"></i>&nbsp;&nbsp;
						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion123" href="#collapse-six" aria-expanded="false" aria-controls="collapse-six">
							Rate
						</a>
					</h4>
				</div>
				<div id="collapse-six" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-heading-six">
					<div class="panel-body">
						<ul class="list-group">
							<li class="list-group-item"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;&nbsp;<a asp-action="Create" asp-controller="conference/Rate">View</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		@RenderBody()
	</div>
</div>