﻿@{ 
    Layout = "~/Views/Conference/Shared/ConferenceLayout.cshtml";
    ViewBag.Title = "Conference page";
}

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading"><i class="fa fa-bars" aria-hidden="true"></i>&nbsp;&nbsp;Conference menu</div>
        <div class="panel-body">
            This is the conference menu for the app. Click on the left pane to get started or check below:<br/>
            <ul>
                <li><i class="fa fa-calendar-check-o" aria-hidden="true"></i>&nbsp;&nbsp;<a>Programmes</a> managing data relating to conference programmes</li>
                <li><i class="fa fa-sun-o" aria-hidden="true"></i>&nbsp;&nbsp;<a>Conference Day</a> setting dates for conference activities and programmes</li>
                <li><i class="fa fa-suitcase" aria-hidden="true"></i>&nbsp;&nbsp;<a>Suites</a> managing programm suits</li>
                <li><i class="fa fa-gift" aria-hidden="true"></i>&nbsp;&nbsp;<a>Presentation</a> managing data relating to conference presentation</li>
                <li><i class="fa fa-book" aria-hidden="true"></i>&nbsp;&nbsp;<a>Abstract</a> managing data relating to conference abstract</li>
                <li><i class="fa fa-star-half-o" aria-hidden="true"></i>&nbsp;&nbsp;<a>Rate</a> Viewing ratings for conference presentations</li>
            </ul>
        </div>
    </div>
</div>
