﻿@model AttendeesViewModel
@{
	Layout = "~/Views/Attendees/Shared/AttendeeLayout.cshtml";
	ViewBag.Title = "Attendee page";
}

<div class="row">
	<form class="form-horizontal" role="form" method="post" action="@Url.Action("Search", new
															   {
																   controllerId = ViewData["Id"],
																   controllername = ViewData["Controller"],
																   actionname = ViewData["action"],
																   returncontroller = ViewData["returncontroller"],
																   pname = ViewData["name"],
																   previouscontrollerId = ViewData["previouscontrollerId"],
																   prpage = ViewData["prpage"]
															   })">
		<div class="form-group">
			<div class="alert alert-warning alert-dismissable" asp-validation-summary="ModelOnly">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<strong></strong><a href="#" class="alert-link"></a>.
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-6">
				<input type="text" class="form-control" name="Search" id="search" placeholder="search criteria">
			</div>
			<div class="col-sm-6">
				<button type="submit" class="btn btn-default">Search</button>
				@if ((bool)ViewData["cancel"])
				{

				<a class="btn btn-default"
				   asp-route-controllerId="@ViewData["Id"]" asp-route-controllername="@ViewData["Controller"]"
				   asp-action="Create" asp-route-actionname="@ViewData["action"]"
				   asp-route-returncontroller="@ViewData["returncontroller"]"
				   asp-route-pname="@ViewData["name"]"
				   asp-route-previouscontrollerId="@ViewData["previouscontrollerId"]">Cancel</a>
				}
			</div>
		</div>
	</form>
	<br/>
	@{
		var AddedAttendees = ViewData["Attendees"] as PaginatedList<Attendees>;
		if (AddedAttendees != null && string.IsNullOrEmpty(ViewData["Controller"].ToString())){
			if (AddedAttendees.Count != 0)
			{
				<button type="submit" class="btn btn-primary" id="delete" data-toggle="modal" data-target="#myModal">Delete all attendees</button><br /><br />
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal-label">
					<div class="modal-dialog modal-df" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModal-label">Request to delete all attendees</h4>
							</div>
							<div class="modal-body">
								<p>Are you sure you want to delete all attendees?</p>

							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								<a class="btn btn-primary" asp-controller="Conference/Attendees" asp-action="DeleteAll">Delete</a>
							</div>
						</div>
					</div>
				</div>
				<br />
			}
		}
	}
	<br/>
    @{
        
        if (AddedAttendees != null)
        {
            if (AddedAttendees.Count != 0)
            {
                  <table class="table table-striped table-hover">
                    <tr>
                        <th>Name</th>
                        <th>Email address</th>
                        <th>Phone number</th>
                        <th>Status</th>
                        <th>Position</th>
                        <th>Affiliation</th>
                        @if (!string.IsNullOrEmpty(ViewData["Controller"].ToString()))
                        {
                           <th></th>
                        }
                        else
                        {
                            <th></th>
                            <th></th>
                        }
                    </tr>
                    @foreach (var item in AddedAttendees)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.emailAddress</td>
                            <td>@item.phoneNumber</td>
                            <td>@item.status</td>
                            <td>@item.Position</td>
                            <td>@item.Affiliation</td>
                            @if (!string.IsNullOrEmpty(ViewData["Controller"].ToString()))
                            {
                                <td>
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;
                                    <a asp-controller="Conference/Attendees" asp-route-id="@item.AttendeesId" 
                                       asp-route-controllerId="@ViewData["Id"]" asp-route-controllername="@ViewData["Controller"]" 
                                       asp-action="Add" 
                                       asp-route-actionname="@ViewData["action"]"
                                       asp-route-returncontroller="@ViewData["returncontroller"]"
                                       asp-route-pname ="@ViewData["name"]"
                                       asp-route-previouscontrollerId="@ViewData["previouscontrollerId"]"
									   asp-route-prpage="@ViewData["prpage"]">Add</a>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;
                                    <a asp-controller="Conference/Attendees" asp-route-id="@item.AttendeesId"
                                       asp-route-controllerId="@ViewData["Id"]" asp-route-controllername="@ViewData["Controller"]"
                                       asp-action="Edit" asp-route-actionname="@ViewData["action"]"
                                       asp-route-returncontroller="@ViewData["returncontroller"]"
                                       asp-route-pname="@ViewData["name"]"
                                       asp-route-previouscontrollerId="@ViewData["previouscontrollerId"]"
									   asp-route-prpage="@ViewData["prpage"]">Edit</a>
                                </td>
                                <td>
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;&nbsp;
                                    <a asp-controller="Conference/Attendees" asp-route-id="@item.AttendeesId"
                                       asp-route-controllerId="@ViewData["Id"]" asp-route-controllername="@ViewData["Controller"]"
                                       asp-action="Delete" asp-route-actionname="@ViewData["action"]"
                                       asp-route-returncontroller="@ViewData["returncontroller"]"
                                       asp-route-pname="@ViewData["name"]"
                                       asp-route-previouscontrollerId="@ViewData["previouscontrollerId"]"
									   asp-route-prpage="@ViewData["prpage"]">Delete</a>
                                </td>
                            }
                         </tr>


                    }
                    </table>
            }
        }


     }
    <br />
    @{ 
        var prevDisabled = !AddedAttendees.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !AddedAttendees.HasNextPage ? "disabled" : "";
    }

    <div class="row">
        <div class="col-lg-offset-5 col-lg-6">
         
            <a asp-action="@ViewData["actionType"]"
                asp-route-controllerId="@ViewData["Id"]"
                asp-route-returncontroller="@ViewData["returncontroller"]"
                asp-route-controllername="@ViewData["Controller"]" 
                asp-route-actionname="@ViewData["action"]"
                asp-route-previouscontrollerId="@ViewData["previouscontrollerId"]"
                asp-route-pname ="@ViewData["name"]"
                asp-route-page="@(AddedAttendees.PageIndex - 1)"
               class="btn btn-primary @prevDisabled">
                Previous
            </a>
            <a asp-action="@ViewData["actionType"]"
               asp-route-controllerId="@ViewData["Id"]"
                asp-route-returncontroller="@ViewData["returncontroller"]"
                asp-route-controllername="@ViewData["Controller"]" 
                asp-route-actionname="@ViewData["action"]"
                asp-route-previouscontrollerId="@ViewData["previouscontrollerId"]"
                asp-route-pname ="@ViewData["name"]"
                asp-route-page="@(AddedAttendees.PageIndex + 1)"
               class="btn btn-primary @nextDisabled">
                Next
            </a>
         
         
        </div>
    </div>
     <br />
    <div class="row">
        <div class="col-lg-offset-2 col-lg-6">
            
            <div class="btn-group" role="group" aria-label="...">
                @if (ViewData["Controller"] != string.Empty)
                {
                    <a asp-controller="Conference/AttendeeView" class="btn btn-default"
                       asp-route-controllerId="@ViewData["Id"]" asp-route-controllername="@ViewData["Controller"]"
                       asp-action="Create" asp-route-actionname="@ViewData["action"]"
                       asp-route-returncontroller="@ViewData["returncontroller"]"
                       asp-route-pname="@ViewData["name"]"
                       asp-route-previouscontrollerId="@ViewData["previouscontrollerId"]"
					   asp-route-prpage="@ViewData["prpage"]">Back</a>
                }
                <button type="button" class="btn btn-primary" id="Addnew">Add new Attendee</button>
                <button type="button" class="btn btn-primary" id="Addupload">Upload Attendees</button>
                <br /><br /><br/>
            </div>
        </div>
    </div>
    <div class="row">
        @using (Html.BeginForm("Upload","Attendees",null,
            FormMethod.Post,true,new
            { id= "AttendeeUpload", enctype = "multipart/form-data",@class="form-horizontal",
              style="display:none"}))
        {

            <div class="form-group">
                <label class="col-sm-2 control-label" for="upload">Upload</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" id="upload" name="upload">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        }
        <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data" asp-antiforgery="true" id="Attendeeform" style="display:none;overflow:scroll;height:300px">
			
			<div class="form-group">
				<div class="alert alert-warning alert-dismissable" asp-validation-summary="ModelOnly">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					<strong></strong><a href="#" class="alert-link"></a>.
				</div>
			</div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="Name">Name</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="Name" name="Name" placeholder="Enter Name">
                </div>
                <div class="col-sm-2">
                    <span asp-validation-for="Name">

                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="email">Email</label>
                <div class="col-sm-6">
                    <input type="email" class="form-control" id="EmailAddress" name="EmailAddress" placeholder="Enter Email Address">
                </div>
                <div class="col-sm-2">
                    <span asp-validation-for="EmailAddress">

                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="Position">Position</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="Position" name="Position" placeholder="Enter Position">
                </div>
				<div class="col-sm-2">
					<span asp-validation-for="Position">

					</span>
				</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="email">Phone number</label>
                <div class="col-sm-6">
                    <input type="tel" class="form-control" id="PhoneNumber" name="PhoneNumber" placeholder="Enter Phone Number">
                </div>
				<div class="col-sm-2">
					<span asp-validation-for="PhoneNumber">

					</span>
				</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="email">Affiliation</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="Affiliation" name="Affiliation" placeholder="Enter Affiliation">
                </div>
				<div class="col-sm-2">
					<span asp-validation-for="Affiliation">

					</span>
				</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="email">Address</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="Address" name="Address" placeholder="Enter Address">
                </div>
				<div class="col-sm-2">
					<span asp-validation-for="Address">

					</span>
				</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="Biography">Biography</label>
                <div class="col-sm-6">
                    <textarea name="Biography" cols="40" rows="5" class="form-control"></textarea>
                </div>
				<div class="col-sm-2">
					<span asp-validation-for="Biography">

					</span>
				</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="Image">Image</label>
                <div class="col-sm-6">
					<span style="color:red">Not more than 500MB (.jpg|.jpeg|.png file)</span>
                    <input type="file" class="form-control" name="ImageUrl" />
                </div>

            </div>
            <div class="form-group">
                <label for="Venue" class="col-lg-2 control-label">Keynote speaker</label>
                <div class="col-lg-2">
                    @Html.CheckBoxFor(model => model.IsKeyNoteSpeaker, new { @class = "form-control" })
                </div>

            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <script>
        function myFunction() {
            var x = document.getElementById('Attendeeform');
            if (x.style.display == 'none') {
                x.style.display = 'block';
            } else {
                x.style.display = 'none';
            }
        } 
        $(function () {
            $("#Addnew").click(function () {
                if ($('#Attendeeform').css("display") == "none") {

                    $('#Attendeeform').css("display", "block");
                    $('#AttendeeUpload').css("display", "none");
                }
                else {

                    $('#Attendeeform').css("display", "none");
                    $('#AttendeeUpload').css("display", "none");
                }
                
            });
        });
        $(function () {
            $("#Addupload").click(function () {
                if ($('#AttendeeUpload').css("display") == "none") {

                    $('#AttendeeUpload').css("display", "block");
                    $('#Attendeeform').css("display", "none");
                }
                else {

                    $('#AttendeeUpload').css("display", "none");
                    $('#Attendeeform').css("display", "none");
                }

            });
        });
    </script>
     
</div>