﻿@model AttendeesViewModel
@{
    Layout = "~/Views/Attendees/Shared/AttendeeLayout.cshtml";
    ViewBag.Title = "Attendee page";
}
<div class="row">
    <h3>Edit Attendee</h3><br/>
    <form class="form-horizontal" role="form" method="post" asp-antiforgery="true" id="Attendeeform">
		<div class="form-group">
			<div class="alert alert-warning alert-dismissable" asp-validation-summary="ModelOnly">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<strong></strong><a href="#" class="alert-link"></a>.
			</div>
		</div>
		<div class="form-group">
            <label class="col-sm-2 control-label" for="Name">Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="Name" value="@Model.Name" name="Name" placeholder="Enter Name">
            </div>
            <div class="col-sm-2">
                <span asp-validation-for="Name">

                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="email">Email</label>
            <div class="col-sm-6">
                <input type="email" class="form-control" id="EmailAddress" value="@Model.EmailAddress" name="EmailAddress" placeholder="Enter Email Address">
            </div>
            <div class="col-sm-2">
                <span asp-validation-for="EmailAddress">

                </span>
            </div>
        </div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="Position">Position</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="Position" value="@Model.Position" name="Position" placeholder="Enter Position">
			</div>
			<div class="col-sm-2">
				<span asp-validation-for="Position">

				</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="email">Phone number</label>
			<div class="col-sm-6">
				<input type="tel" class="form-control" id="PhoneNumber" value="@Model.PhoneNumber" name="PhoneNumber" placeholder="Enter Phone Number">
			</div>
			<div class="col-sm-2">
				<span asp-validation-for="PhoneNumber">

				</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="email">Affiliation</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="Affiliation" value="@Model.Affiliation" name="Affiliation" placeholder="Enter Affiliation">
			</div>
			<div class="col-sm-2">
				<span asp-validation-for="Affiliation">

				</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="email">Address</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="Address" value="@Model.Address" name="Address" placeholder="Enter Address">
			</div>
			<div class="col-sm-2">
				<span asp-validation-for="Address">

				</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="Biography">Biography</label>
			<div class="col-sm-6">
				<textarea name="Biography" cols="40" rows="5" class="form-control">@Model.Biography</textarea>
			</div>
			<div class="col-sm-2">
				<span asp-validation-for="Biography">

				</span>
			</div>
		</div>et
        <div class="form-group">
            <label class="col-sm-2 control-label" for="Image">Image</label>
			<div class="col-sm-6">
				<span style="color:red">Not more than 500MB (.jpg|.jpeg|.png file)</span>
				<input type="file" class="form-control" name="ImageUrl" />
			</div>

        </div>
        <div class="form-group">
            <label for="Venue" class="col-lg-2 control-label">Keynote speaker</label>
            <div class="col-lg-2">
                @Html.CheckBoxFor(model => model.IsKeyNoteSpeaker, new { @class = "form-control" })
            </div>

        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a asp-controller="Conference/Attendees" class="btn btn-default"
                   asp-route-controllerId="@ViewData["Id"]" asp-route-controllername="@ViewData["Controller"]"
                   asp-action="Create" asp-route-actionname="@ViewData["action"]"
                   asp-route-returncontroller="@ViewData["returncontroller"]"
                   asp-route-pname="@ViewData["name"]"
                   asp-route-previouscontrollerId="@ViewData["previouscontrollerId"]">Back</a>&nbsp;&nbsp;
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</div>