﻿@model SuitesViewModel

@{
    Layout = "~/Views/Suite/Shared/SuiteLayout.cshtml";
    ViewBag.Title = "Suite page";
}

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading"><i class="fa fa-calender" aria-hidden="true"></i>&nbsp;&nbsp;Programme menu</div>
        <div class="panel-body">
            <form class="form-horizontal" method="post" asp-antiforgery="true">
                <fieldset>
                    <legend>Add Suites</legend>
                    <div class="form-group">
                        <div class="alert alert-warning alert-dismissable" asp-validation-summary="ModelOnly">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <strong></strong><a href="#" class="alert-link"></a>.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Title" class="col-lg-2 control-label">Suite Venue</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="Venue" value="" placeholder="Enter suite venue" />
                        </div>
                        <div class="col-lg-2">
                            <span asp-validation-for="Venue">

                            </span>
                        </div>
                    </div>
                    
                    
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            @{ 
                                var programme = @ViewData["Programmes"] as Programme;
                            }
                            <a type="reset" class="btn btn-default" asp-controller="Conference/Programme" asp-action="Create" asp-route-id ="@programme.ConferenceDayId">Back</a>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </fieldset>
            </form> <br />

            <div class="row">
                @{
                    var AddedProgrammes = ViewData["Suites"] as PaginatedList<Suites>;
                    if (AddedProgrammes != null)
                    {
                        if (AddedProgrammes.Count != 0)
                        {
                            <table class="table table-striped table-hover">
                                <tr>
                                    <th>Venue</th>
                                    
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                @foreach (var item in AddedProgrammes)
                                {
                                    <tr>
                                        <td>@item.Venue</td>
                                       
                                        @if (item.presentations == null)
                                        {
                                            <td><a asp-controller="Conference/Presentation" asp-action="Create" asp-route-id="@item.SuitesId">Add presentations</a></td>
                                        }
                                        else
                                        {
                                            @if (item.presentations.Count == 1)
                                            {
                                                <td><a asp-controller="Conference/Presentation" asp-action="Add" asp-route-id="@item.SuitesId">presentation</a></td>
                                            }
                                            @if (item.presentations.Count > 1)
                                            {
                                                <td><a asp-controller="Conference/Presentation" asp-action="Add" asp-route-id="@item.SuitesId">presentattions</a></td>
                                            }
                                        }
                                        
                                        <td>
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            &nbsp;&nbsp;<a asp-controller="Conference/Suite" asp-action="Edit" asp-route-id="@item.SuitesId">
                                                Edit
                                            </a>
                                        </td>
                                        <td>
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            &nbsp;&nbsp;<a asp-controller="Conference/Suite" asp-route-id="@item.SuitesId" asp-action="Delete">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </table>
                            <br/>
                            var prevDisabled = !AddedProgrammes.HasPreviousPage ? "disabled" : "";
                            var nextDisabled = !AddedProgrammes.HasNextPage ? "disabled" : "";

                            <div class="row">
                                <div class="col-lg-offset-5 col-lg-6">
                                    <a asp-action="Create"
                                       asp-route-id="@(AddedProgrammes[0].ProgrammeId)"
                                       asp-route-page="@(AddedProgrammes.PageIndex - 1)"
                                       class="btn btn-primary @prevDisabled">
                                        Previous
                                    </a>
                                    <a asp-action="Create"
                                       asp-route-id="@(AddedProgrammes[0].ProgrammeId)"
                                       asp-route-page="@(AddedProgrammes.PageIndex + 1)"
                                       class="btn btn-primary @nextDisabled">
                                        Next
                                    </a>
                                </div>
                            </div>
                        }


                    }

                }
            </div>
        </div>
    </div>
    <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                    format: 'LT'
                });
            });
            $(function () {
                $('#datetimepicker2').datetimepicker({
                    format: 'LT'
                });
            });
    </script>
</div>

