﻿@model SuitesViewModel

@{
    Layout = "~/Views/Suite/Shared/SuiteLayout.cshtml";
    ViewBag.Title = "Suite page";
}

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;&nbsp;Suite menu</div>
        <div class="panel-body">
            <form class="form-horizontal" method="post" asp-antiforgery="true">
                <fieldset>
                    <legend>Edit Suites</legend>
                    @{
                        var message = ViewData["Message"] as string;
                        if (!string.IsNullOrEmpty(message))
                        {
                            <div class="form-group">
                                <div class="alert alert-warning alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <strong>@message</strong><a href="#" class="alert-link"></a>.
                                </div>
                            </div>

                        }
                    }

                    <div class="form-group">
                        <label for="Title" class="col-lg-2 control-label">Suite Venue</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="Venue" value="@Model.Venue" placeholder="Enter suite venue" />
                        </div>
                        <div class="col-lg-2">
                            <span asp-validation-for="Venue">

                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Venue" class="col-lg-2 control-label">Suite Heading</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="Heading" value="@Model.Heading" placeholder="Enter Heading" />
                        </div>
                        <div class="col-lg-2">
                            <span asp-validation-for="Heading">

                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="programmes" class="col-lg-2 control-label">Programmes</label>
                        <div class="col-lg-6">
                            
                            <select id="progId" name="selectedProgrammeId" class="form-control">
                                @foreach (var item in Model.programmes)
                                {
                                    if(item.ProgrammeId == Model.selectedProgrammeId)
                                    {
                                        <option value="@item.ProgrammeId" selected="selected">@item.Title</option>
                                    }
                                    else
                                    {
                                        <option value="@item.ProgrammeId">@item.Title</option>
                                    }


                                }
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <span asp-validation-for="programmes">

                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <a type="reset" class="btn btn-default" asp-controller="Conference/Suite" asp-action="Create" asp-route-id="@Model.selectedProgrammeId">Back</a>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </fieldset>
            </form> <br />


        </div>
    </div>
    
</div>

