﻿@model int
@{
	Layout = "~/Views/shared/Layout.cshtml";
	ViewBag.Title = "Error";
}

@{

	var statusCode = Model;

	var statusmessage = "";

	switch (statusCode)

	{

		case 400:

			statusmessage = "Bad request: The request cannot be fulfilled due to bad syntax";

			break;

		case 403:

			statusmessage = "Forbidden Error";

			break;

		case 404:

			statusmessage = "Page not found error";

			break;

		case 408:

			statusmessage = "The server timed out waiting for the request";

			break;

		case 500:

			statusmessage = "Internal Server Error - server was unable to finish processing the request";

			break;

		default:

			statusmessage = "That’s odd... Something we didn't expect happened";

			break;

	}

}

<div class="jumbotron">

	
	<h3>@statusmessage</h3>
	<p>Click <a asp-controller="Home" asp-action="Index">here</a> to continue</p>
</div>

