﻿@model ConferenceDayViewModel

@{
    Layout = "~/Views/ConferenceDay/Shared/ConferenceDayLayout.cshtml";
    ViewBag.Title = "Conference page";
}

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;&nbsp;Conference Day menu</div>
        <div class="panel-body">
            <form class="form-horizontal" method="post" asp-antiforgery="true">
                <fieldset>
                    <legend>Edit Conference Day</legend>
                    @{
                        var message = ViewData["message"] as string;
                        if (!string.IsNullOrEmpty(message))
                        {
                            <div class="form-group">
                                <div class="alert alert-warning alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <strong>@message</strong><a href="#" class="alert-link"></a>.
                                </div>
                            </div>

                        }
                    }
                    <div class="form-group">
                        <div class="alert alert-warning alert-dismissable" asp-validation-summary="ModelOnly">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <strong></strong><a href="#" class="alert-link"></a>.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Daynumber" class="col-lg-2 control-label">Day number</label>
                        <div class="col-lg-10">
                            <select class="form-control" id="select" name="Daynumber">
                                @if (Model.Daynumber == 1)
                                {
                                    <option selected="selected">1</option>
                                }
                                else
                                {
                                    <option>1</option>
                                }
                                @if (Model.Daynumber == 2)
                                {
                                    <option selected="selected">2</option>
                                }
                                else
                                {
                                    <option>2</option>
                                }
                                @if (Model.Daynumber == 3)
                                {
                                    <option selected="selected">3</option>
                                }
                                else
                                {
                                    <option>3</option>
                                }
                                @if (Model.Daynumber == 4)
                                {
                                    <option selected="selected">4</option>
                                }
                                else
                                {
                                    <option>4</option>
                                }
                                @if (Model.Daynumber == 5)
                                {
                                    <option selected="selected">5</option>
                                }
                                else
                                {
                                    <option>5</option>
                                }
                                @if (Model.Daynumber == 6)
                                {
                                    <option selected="selected">6</option>
                                }
                                else
                                {
                                    <option>6</option>
                                }
                                @if (Model.Daynumber == 7)
                                {
                                    <option selected="selected">7</option>
                                }
                                else
                                {
                                    <option>7</option>
                                }
                                @if (Model.Daynumber == 8)
                                {
                                    <option selected="selected">8</option>
                                }
                                else
                                {
                                    <option>8</option>
                                }
                                @if (Model.Daynumber == 9)
                                {
                                    <option selected="selected">9</option>
                                }
                                else
                                {
                                    <option>9</option>
                                }
                                @if (Model.Daynumber == 10)
                                {
                                    <option selected="selected">10</option>
                                }
                                else
                                {
                                    <option>10</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ConferenceDate" class="col-lg-2 control-label">Conference Date</label>
                        <div class="col-lg-6">
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" name="ConferenceDate" value="@Model.ConferenceDate" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <span asp-validation-for="ConferenceDate">

                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <a class="btn btn-default" asp-action="SetDate">Back</a>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </fieldset>
            </form> <br />

            
        </div>
    </div>
    <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                    defaultdate: @Model.ConferenceDate.ToString(),
                    disabledDates: [
                        moment("12/25/2013"),
                        new Date(2013, 11 - 1, 21),
                        "11/22/2013 00:53"
                    ]
                }
                );
            });
    </script>
</div>

