﻿@model ConferenceDayViewModel

@{
    Layout = "~/Views/ConferenceDay/Shared/ConferenceDayLayout.cshtml";
    ViewBag.Title = "Conference page";
}

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;&nbsp;Conference Day menu</div>
        <div class="panel-body">
            <form class="form-horizontal" method="post" asp-antiforgery="true">
                <fieldset>
                    <legend>Add Conference Day</legend>
                    <div class="form-group">
                        <div class="alert alert-warning alert-dismissable" asp-validation-summary="ModelOnly">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <strong></strong><a href="#" class="alert-link"></a>.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Daynumber" class="col-lg-2 control-label">Day number</label>
                        <div class="col-lg-10">
                            <select class="form-control" id="select" name="Daynumber">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ConferenceDate" class="col-lg-2 control-label">Conference Date</label>
                        <div class="col-lg-6">
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" name="ConferenceDate"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <span asp-validation-for="ConferenceDate">

                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="reset" class="btn btn-default">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </fieldset>
            </form> <br/>
			@{
				var AddedConferenceDay = ViewData["AddedConferenceDay"] as List<ConferenceDay>;
				if (AddedConferenceDay != null)
				{
					if (AddedConferenceDay.Count != 0)
					{
						<button type="submit" class="btn btn-primary" id="delete" data-toggle="modal" data-target="#myModal">Delete all Conference Days</button><br /><br />
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal-label">
							<div class="modal-dialog modal-df" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="myModal-label">Request to delete all Conference Days</h4>
									</div>
									<div class="modal-body">
										<p>Are you sure you want to delete all Conference Days?</p>

									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										<a class="btn btn-primary" asp-controller="Conference/ConferenceDay" asp-action="DeleteAll">Delete</a>
									</div>
								</div>
							</div>
						</div>
						<br />
					}
				}
			}
			<br/>
            <div class="row">
                @{
                    
                    if (AddedConferenceDay != null)
                    {
                        if (AddedConferenceDay.Count != 0)
                        {
                            <table class="table table-striped table-hover">
                                <tr>
                                    <th>Day number</th>
                                    <th>Date</th>
                                    <th>Programmes</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                @foreach (var item in AddedConferenceDay)
                                {
                                    <tr>
                                        <td>@item.Daynumber</td>
                                        <td>@item.ConferenceDate</td>
                                        @if (item.programme.Count == 0)
                                        {
                                           <td><a asp-controller="Conference/Programme" asp-action="Create" asp-route-id="@item.ConferenceDayId">Add programme</a></td>
                                        }
                                        else
                                        { 
                                            @if (item.programme.Count == 1)
                                            {
                                                <td><a asp-controller="Conference/Programme" asp-action="Create" asp-route-id="@item.ConferenceDayId">programme</a></td>
                                            }
                                            @if (item.programme.Count > 1)
                                            {
                                                <td><a asp-controller="Conference/Programme" asp-action="Create" asp-route-id="@item.ConferenceDayId">programmes</a></td>
                                            }
                                        }
                                        <td><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        &nbsp;&nbsp;<a asp-controller="Conference/ConferenceDay" asp-action="Edit" asp-route-id="@item.ConferenceDayId">
                                            Edit</a></td>
                                        <td><i class="fa fa-trash-o" aria-hidden="true"></i>
                                        &nbsp;&nbsp;<a asp-controller="Conference/ConferenceDay" asp-route-id="@item.ConferenceDayId" asp-action="Delete">Delete</a></td>
                                    </tr>
                                }
                            </table>

                        }
                        

                    }
                    
                }
            </div>
        </div>
    </div>
    <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
    </script>
</div>

