﻿<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Conference App</title>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div>
            @RenderBody()
        </div>
        <hr/>
        <footer class="container">
            <p class="copyright">
                <span class="glyphicon glyphicon-copyright-mark"></span> @DateTime.Now.Year <a href="http://www.ukzn.ac.za">University of KwaZulu-Natal</a>
                All rights reserved | Design by <a href="http://www.zomsoft.org/" target="_blank"><span>ZOMSOFT</span></a>
            </p>
        </footer>
    </div>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/node_modules/jquery-validation-unobstrusive/dist/jquery.validate.unobstrusive.js"></script>
    <script src="https://use.fontawesome.com/37274d5c05.js"></script>
    <script src="https://raw.github.com/carhartl/jquery-cookie/master/jquery.cookie.js"></script>
</body>
</html>